<div class="wrapper" id="facts">
  <div class="flex">
    <div class="text">
      <h3>{{ 'facts.title' | translate }}</h3>
      <h6>{{ 'facts.title_1' | translate }}</h6>
      <p>{{ 'facts.text_1' | translate }}</p>
    </div>

    <div class="accordion">
      <details>
        <summary>{{ 'facts.title_2' | translate }}</summary>
        <ul>
          <li class="list" *ngFor="let text of text_2">
            {{ text | translate }}
          </li>
        </ul>
      </details>

      <details>
        <summary>{{ 'facts.title_3' | translate }}</summary>
        <ul>
          <li class="list" *ngFor="let text of text_3">
            {{ text | translate }}
          </li>
        </ul>
      </details>

      <details>
        <summary>{{ 'facts.title_4' | translate }}</summary>
        <ul>
          <li class="list" *ngFor="let text of text_4">
            {{ text | translate }}
          </li>
        </ul>
      </details>
    </div>
  </div>
</div>
