.menu_space {
  height: 8rem;
}

section {
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}

.background-container {
  position: absolute;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  top: 1rem;
  left: 0;
  right: 0;
  height: 800px;
}

.slideshow-container {
  max-width: min(1200px, 100%);
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 6px;
}

.img-slideshow {
  height: 850px;
  width: 1200px;
  object-fit: cover;
  object-position: center;
  animation: zoomIn 8s ease-out infinite;
  background-color: #fff;
  overflow: hidden;
}

.slideshow-overlay {
  position: relative;
  top: -120px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 25px;
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    text-wrap: balance;
    color: white;
  }
}

//
//
// ANIMATIONS
@keyframes zoomIn {
  0% {
    transform: scale(1);
    blur: 20;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.fadeIn {
  transform: translateX(-200px);
  animation: fadeInAnimation 1.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translate(-200px, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-200px, 0);
  }
}

@media (max-width: 1200px) {
  .slideshow-container {
    border-radius: 0;
  }
  .slideshow-overlay {
    p {
      font-size: 2.5rem;
    }
  }

  .fadeIn {
    animation: fadeInMobile 1.5s ease-in-out;
    transform: translateY(0);
  }

  @keyframes fadeInMobile {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 765px) {
  .slideshow-overlay {
    top: -150px;
    p {
      font-size: 2rem;
      line-height: 1;
    }
  }
}
