<div class="wrapper">
  <div class="title">
    <h1>{{ 'testimonials.title' | translate }}</h1>
  </div>
  <div class="boxes">
    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_4' | translate }}
        </p>
        <h1>{{ 'testimonials.author_4' | translate }}</h1>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_2' | translate }}
        </p>
        <h1>{{ 'testimonials.author_2' | translate }}</h1>
        <a href="https://jadeflower.academy/" target="_blank">
          Jadeflower Academy
        </a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_3' | translate }}
        </p>
        <h1>{{ 'testimonials.author_3' | translate }}</h1>
        <a href="https://abrilliantmind.blog" target="_blank">
          A brilliant mind
        </a>
      </div>
    </div>
  </div>
</div>
