<div class="wrapper">
  <div class="boxes">
    <div class="box">
      <div class="content">
        <p>
          {{ 'trainings.women.testimonial.text' | translate }}
        </p>
        <h1>{{ 'trainings.women.testimonial.author' | translate }}</h1>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'trainings.women.testimonial.text' | translate }}
        </p>
        <h1>{{ 'trainings.women.testimonial.author' | translate }}</h1>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'trainings.women.testimonial.text' | translate }}
        </p>
        <h1>{{ 'trainings.women.testimonial.author' | translate }}</h1>
      </div>
    </div>
  </div>
</div>
