<header [class.headerDark]="darkMode">
  <menu [class.headerDark]="darkMode">
    <img *ngIf="!darkMode" src="assets/img/logo_light.png" routerLink="/" />
    <img *ngIf="darkMode" src="assets/img/logo_dark.png" routerLink="/" />

    <div [class.darkLinks]="darkMode">
      <a routerLink="/">Home</a>
      <a routerLink="aboutme">About me</a>
      <a routerLink="appointment">Appointment</a>
      <a routerLink="contact">Contact</a>

      <!-- Translation links -->
      <!-- <a class="langLink" (click)="translate.use('de')">DE</a>
          <a class="langLink" (click)="translate.use('en')">EN</a> -->
    </div>
  </menu>
</header>
