header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  font-family: 'Montserrat Regular', sans-serif;
  z-index: 1000;
  transition: all 0.3s ease;

  .logo {
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.8;
      background-color: none;
    }
  }
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1600px, 90% - 4rem);
  height: 5rem;
  margin-inline: auto;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a,
  .top_menu_item {
    background-color: transparent;
    color: var(--color-white);
    font-family: 'Montserrat Light', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5em 0.8em;
    border-bottom: 1px solid transparent;

    &:hover,
    &.active,
    .top_menu_item.active {
      color: var(--color-white);
      border-bottom: 1px solid var(--color-white);
      border-radius: 0;
    }
  }

  .title-sublinks {
    cursor: pointer;
  }

  img {
    height: 60px;
    width: auto;
  }

  .translate,
  .spacer {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: var(--color-white);
  }

  p {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 100;
  }
}

.menu-item {
  font-family: 'Montserrat Light', sans-serif;
  font-size: 0.8rem;
  display: block;
  padding: 0.8em 1.6em;
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  cursor: pointer;
}

.menu-item:hover,
.menu-item:active {
  background-color: #b1872430;
}

.sticky-menu {
  top: -8rem;
  background: transparent;
}

.open-menu {
  top: 0;
  background-color: var(--color-white);

  menu {
    a,
    .top_menu_item {
      border: 1px solid transparent;
      color: var(--color-dark);

      &:hover,
      &.active,
      .top_menu_item.active {
        border: 1px solid transparent;
        color: var(--color-dark);
        border-bottom: 1px solid var(--color-dark);
        border-radius: 0;
      }
    }

    .translate,
    .spacer {
      display: flex;
      align-items: center;
      margin-left: 30px;
      color: var(--color-dark);
    }
  }
}

.mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.langLink {
  margin: 0;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a img {
    // padding: 1px;
    background-color: var(--color-dark);
    border-radius: 6px;
    margin: 0 5px;
  }
}

#menuIcon,
.sidenav {
  display: none;
}

//
//
//
//
//
//
//
//
//
//
// MEDIA QUERIES
//
@media screen and (max-width: 1200px) {
  header {
    display: flex;
    margin-inline: auto;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
  }

  .menu,
  .top_menu_item {
    display: none;
  }

  menu {
    height: 4rem;

    a,
    .sidebar_item,
    .sidebar_item.active {
      background-color: transparent;
      color: var(--color-white);
      font-family: 'Montserrat Light', sans-serif;
      font-size: 1rem;
      letter-spacing: 1px;
      text-decoration: none;
      padding: 0.6em 1.6em;
      margin-bottom: 2rem;
      border-bottom: 1px solid transparent;

      &:hover,
      &.active,
      .sidebar_item.active {
        background-color: #ffffff10;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);
        border-radius: 0;
      }
    }

    img {
      height: 50px;
    }

    .mat-sidenav {
      background-color: var(--color-dark);
      width: 100vw;
      height: calc(100vh);
      overflow: hidden;
      bottom: 0;
    }
  }

  #menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    border-radius: 6px;
    background-color: transparent;
    margin: 0 0.3rem;

    mat-icon {
      transform: rotate(90deg) translateY(-3px);
      font-weight: 600;
    }
  }

  .sidenav {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .spacer {
      border-top: 1px solid #ffffff10;
      margin: auto;
      margin-top: 4rem;
      margin-bottom: 0;
      width: 120vw;
    }
  }

  .sidebar_items,
  .translate_sidebar,
  .social_sidebar {
    display: flex;
    justify-content: center;
    width: fit-content;
    z-index: 5;
    margin: auto;
    color: var(--color-white);
    // transform: translateY(35px);
    margin-top: 5rem;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .sidebar_items {
    display: flex;
    // margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social_sidebar {
    a {
      border-bottom: none;

      img {
        background-color: var(--color-dark);
        border-radius: 6px;
        width: 28px;
        height: 28px;
      }
    }

    a:hover {
      transform: scale(0.9);
    }
  }

  .open-menu {
    menu {
      a {
        color: var(--color-white);

        &:hover,
        &.active {
          color: var(--color-white);
          border-bottom: 1px solid var(--color-white);
          border-radius: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    menu {
      width: 100%;
      margin-left: 0;

      img {
        height: 30px;
      }

      .logo {
        margin-left: 0;
      }
    }
  }
}
