:host {
  width: 100%;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // background: transparent;
  z-index: 1000;
  transition: all 0.3s ease;

  .logo {
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.8;
      background-color: none;
    }
  }
}

.sticky-menu {
  top: -7rem;
}

#menuIcon,
.sidenav {
  display: none;
}

.mat-toolbar {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

menu {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: min(1400px, 80% - 4rem);
  height: 6rem;
  margin-inline: auto;

  a {
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 300;
    // color: #00649c;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    margin-left: 2px;
    padding: 7px 14px;

    &:hover,
    &.active {
      // color: #004065;
      color: #0076bb86;
      border: 1px solid #0077bb63;
      border-radius: 6px;
    }

    button {
      color: #ddd;
      background-color: transparent;
    }
  }

  p {
    color: #fff;
  }

  img {
    height: 100px;
    width: auto;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .translate {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
}

.langLink {
  margin: 0;
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}

//
// Media queries
//
@media (max-width: 1200px) {
  header {
    display: flex;
    margin-inline: auto;
    top: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;

    menu {
      img {
        height: 50px;
      }

      a {
        padding: 10px 15px;
        width: auto;
        font-size: 0.9rem;
        color: white;
        margin: 8px;

        &:hover,
        &.active {
          color: #00649c;
          background-color: #dcf4ff;
          border-radius: 6px;
        }
      }

      .menu {
        display: none;
      }

      .mat-sidenav {
        background-color: rgba(23, 43, 64, 0.8);
        backdrop-filter: blur(5px);
        width: 100vw;
        overflow: hidden;
        top: -50px;
      }
    }

    #menuIcon {
      display: flex;
      justify-content: flex-end;
      color: #00649c;
      // border: 1px solid #00649c;
      border-radius: 6px;
      background-color: transparent;
      margin: 0 1rem;

      &:hover {
        opacity: 0.8;
        background-color: transparent;
      }
    }

    .sidenav {
      box-sizing: border-box;
      position: fixed;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .top_menu_item {
      display: none;
    }

    .sidebar_items,
    .translate_sidebar,
    .social_sidebar {
      display: flex;
      justify-content: center;
      width: fit-content;
      z-index: 5;
      margin: auto;
      color: white;
      font-weight: 300;
      transform: translateY(35px);

      img {
        width: 30px;
        height: 30px;
      }
    }
    .sidebar_items {
      display: flex;
      margin: auto;
      flex-direction: column;
    }

    .sidebar_item {
      text-align: center;
    }

    .sublink {
      font-weight: 500;
    }
  }
  .social_sidebar {
    a {
      border-bottom: none;

      img {
        background-color: #00649c;
        border-radius: 6px;
        width: 28px;
        height: 28px;
      }
    }

    a:hover {
      transform: scale(0.9);
    }
  }
}

@media (max-width: 600px) {
  header {
    menu {
      width: 100%;
      margin-left: 0;

      .logo {
        margin-left: 0;
      }
    }
  }
}
