<header [class.headerDark]="darkMode">
  <menu [class.headerDark]="darkMode">
    <div class="logo">
      <img *ngIf="!darkMode" src="assets/img/logo_white.png" routerLink="/" />
      <img *ngIf="darkMode" src="assets/img/logo_blue.png" routerLink="/" />
    </div>

    <div class="menu">
      <!-- 
      <div>
        <button>
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
          >
            <path
              fill="#000000"
              fill-rule="evenodd"
              d="M18 5a1 1 0 100-2H2a1 1 0 000 2h16zm0 4a1 1 0 100-2h-8a1 1 0 100 2h8zm1 3a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 5a1 1 0 100-2h-8a1 1 0 100 2h8z"
            />
          </svg>
        </button>
      </div> -->

      <div [class.darkLinks]="darkMode">
        <a routerLink="/trainings">Trainings</a>
        <a routerLink="appointment-home">Appointment</a>
        <a routerLink="aboutme">About Me</a>
        <a routerLink="contact">Contact</a>

        <!-- Translation links -->
        <!-- <a class="langLink" (click)="translate.use('de')">DE</a>
          <a class="langLink" (click)="translate.use('en')">EN</a> -->
      </div>
    </div>
  </menu>
</header>
