header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0.5rem);

  #menuIcon,
  .sidenav {
    display: none;
  }

  .mat-toolbar {
    width: auto;
    background-color: transparent;
  }

  #menuIcon,
  .sidenav {
    display: none;
  }

  .mat-toolbar {
    width: auto;
    background-color: transparent;
  }

  menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 7.5rem;
    margin-inline: auto;

    a {
      font-size: 1.1rem;
      font-family: inherit;
      font-weight: 300;
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding: 4px;
      margin: 8px;

      &:hover {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      }

      button {
        color: #ddd;
        background-color: transparent;
      }
    }

    img {
      height: 80px;
      width: auto;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .translate {
      margin-left: 30px;
    }

    .social {
      padding: 0 30px;

      a {
        margin: 0 5px;
        border-bottom: none;

        img {
          background-clip: white;
          width: 25px;
          height: 25px;
        }
      }
      a:hover {
        transform: scale(0.9);
        opacity: 0.8;
      }
    }
  }

  .langLink {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .headerDark {
    background-color: transparent;
  }

  .darkLinks {
    a {
      color: rgba(28, 108, 179, 0.5);

      &:hover {
        font-weight: 300;
        color: rgb(24, 93, 153);
        border-bottom: 1px solid rgba(28, 109, 179, 0.5);
      }

      &:active {
        font-weight: 300;
        color: rgb(24, 93, 153);
        border-bottom: 1px solid rgba(28, 109, 179, 0.5);
      }
    }

    .social {
<<<<<<< HEAD
      img {
        background-clip: rgb(51, 26, 26);
=======
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a img {
        // padding: 1px;
        background-color: rgba(28, 108, 179, 0.5);
        border-radius: 6px;
        margin: 0 5px;
>>>>>>> new_backup
      }
    }
  }
}

<<<<<<< HEAD
.langLink {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  header {
    max-width: 700px;
    height: 5.5rem;
    display: flex;
    margin-inline: auto;

    menu {
      width: 90vw;
      flex-direction: row;
      justify-content: space-between;
      padding: 14px;

      img {
        height: 70px;
        padding: 14px 0;
      }

      a {
        width: auto;
        font-size: 0.9rem;

        &:hover {
          color: white;
          background-color: rgba(42, 122, 202, 0.738);
=======
@media (max-width: 1200px) {
  header {
    max-width: 700px;
    height: 5.5rem;
    display: flex;
    margin-inline: auto;
    backdrop-filter: none;

    menu {
      width: 100vw;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;

      img {
        height: 70px;
        padding: 14px 0;
      }

      a {
        width: auto;
        font-size: 0.9rem;
        color: white;

        &:hover {
          color: white;
          background-color: rgba(9, 38, 68, 0.738);
>>>>>>> new_backup
          border: none;
        }
      }

      .mat-sidenav {
        background-color: rgba(7, 43, 78, 0.8);
        backdrop-filter: blur(5px);
        width: 100vw;
        overflow: hidden;
      }

      #menuIcon {
        display: flex;
        justify-content: flex-end;
<<<<<<< HEAD
        color: #ddd;
=======
        color: #0a599f;
>>>>>>> new_backup
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: transparent;
      }

      .sidenav {
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .top_menu_item {
        display: none;
      }

      .sidebar_item,
      .translate_sidebar,
      .social_sidebar {
        display: flex;
        justify-content: center;
        padding: 15px;
        color: white;
        font-weight: 400;

        img {
          width: 30px;
          height: 30px;
        }
<<<<<<< HEAD
=======

        a,
        &:hover {
          color: white;
        }
>>>>>>> new_backup
      }
    }
  }
}
