<header [class.headerDark]="darkMode">
  <img *ngIf="!darkMode" src="assets/img/logo_light.png" />
  <img *ngIf="darkMode" src="assets/img/logo_dark.png" />

  <div [class.darkLinks]="darkMode">
    <a routerLink="/">Home</a>
    <!-- <a href="#">Stimmtraining</a>
    <a href="#">Coaching</a>
    <a href="#">Termine</a>
    <a href="#">Contact</a> -->
    <a routerLink="privacy">Privacy Policy</a>
    <a routerLink="impressum">Impressum</a>

    <!-- Translation links -->
    <!-- <a class="langLink" (click)="translate.use('de')">DE</a>
    <a class="langLink" (click)="translate.use('en')">EN</a> -->
  </div>
</header>
