<footer>
  <section>
    <div class="flow logo">
      <img src="assets/img/new_logo_white.png" alt="logo" />
    </div>

    <div class="flow">
      <h1>{{ "footer.title" | translate }}</h1>
      <p>Elisabeth Koch</p>
      <p>Behaimstraße 27</p>
      <p>13086 Berlin</p>

      <div class="social">
        <a class="mail" href="mailto:mail@elisabethkoch.eu">
          <img src="./assets/img/envelope.svg" alt="mail" />
        </a>
      </div>
    </div>

    <div class="flow">
      <div class="links">
        <h1>Links</h1>
        <a routerLink="/">{{ "footer.link_train" | translate }}</a>
        <a routerLink="seminare">{{ "footer.link_work" | translate }}</a>
        <a routerLink="profile">{{ "footer.link_profile" | translate }}</a>
        <a routerLink="blog">{{ "footer.link_blog" | translate }}</a>
        <a routerLink="contact">{{ "footer.title" | translate }}</a>
      </div>
    </div>

    <div class="flow">
      <h1>Legal</h1>
      <a routerLink="privacy">{{ "footer.link_policy" | translate }}</a>
      <a routerLink="impressum">Impressum</a>
      <br />

      <div class="social">
        <a
          href="https://instagram.com/stimme_gelungener_auftritt"
          target="_blank"
        >
          <img src="./assets/img/instagram.svg" alt="instagram" />
        </a>
        <a
          href="https://linkedin.com/in/elisabeth-koch-bb7b372a9"
          target="_blank"
        >
          <img src="./assets/img/linkedin.svg" alt="linkedin" />
        </a>
      </div>
    </div>
  </section>

  <!-- copyright and social media -->
  <div class="copyright">
    <p>© Elisabeth Koch since 2018</p>
  </div>
</footer>
