<footer>
  <section>
    <div class="flow">
      <img src="assets/img/logo_white.png" routerLink="/" />
    </div>

    <div class="flow">
      <h1>Contact</h1>
      <p>Elisabeth Koch</p>
      <p>Charlottenburger Starße 30</p>
      <p>13086 Berlin</p>
      <p>+49 0176 72173650</p>
      <p></p>
      <a href="mailto:mail@elisabethkoch.eu">Mail</a>
    </div>

    <div class="flow">
      <h1>Links</h1>
      <a routerLink="/">Home</a>
      <a routerLink="aboutme">About Me</a>
      <a routerLink="contact">Contact</a>
      <a routerLink="appointment">Book an appointment</a>
    </div>

    <div class="flow">
      <h1>Legal</h1>
      <a routerLink="privacy">Privacy Policy</a>
      <a routerLink="impressum">Impressum</a>
    </div>
  </section>
</footer>
