footer {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: radial-gradient(#77afeb, #225c9a);
  padding: 5rem 0;
  z-index: 1;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    justify-items: center;
    align-items: start;
    width: min(90%, 1200px);
  }

  .flow,
  .links {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    text-align: left;
    line-height: 1.6rem;
    max-width: 100%;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    margin: 5px;
    padding-bottom: 10px;
  }

  p {
    font-weight: 100;
    color: white;
    margin: 2px 5px;
  }

  a {
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 2px 5px;

    &:hover {
      color: rgb(28, 108, 179);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }

  .social {
    padding-top: 20px;

    a {
      background-color: transparent;
    }

    img {
      width: 25px;
      height: 25px;

      &:hover {
        transform: scale(0.9);
        border-radius: 0;
      }
    }
  }

  .foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    img {
      height: 50px;
      object-fit: contain;
    }
  }

  .logo {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .copyright {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    display: flex;
    padding: 50px 20px;
  }
}

//
// MEDIA QUERIES
//
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      .flow {
        margin: 1rem 0;
        h1 {
          font-size: 1.2rem;
        }

        .links {
          justify-self: center;
          max-width: 100%;
        }
      }
    }

    .foot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 6rem;
    }

    .copyright {
      padding: 0;
    }
  }
}
