<footer>
  <div class="wrapper">
    <div class="flow">
      <div class="links">
        <h1>Links</h1>
        <a routerLink="/">{{ 'menu.trainings' | translate }}</a>
        <a routerLink="seminare">{{ 'menu.courses' | translate }}</a>
        <a routerLink="profile">{{ 'menu.profile' | translate }}</a>
        <a routerLink="blog">{{ 'menu.blog' | translate }}</a>
        <a routerLink="contact">{{ 'menu.contact' | translate }}</a>
      </div>
    </div>

    <div class="flow">
      <h1>Legal</h1>
      <a routerLink="privacy">{{ 'menu.policy' | translate }}</a>
      <a routerLink="impressum">Impressum</a>
      <br />
      <br />

      <div class="social">
        <a
          href="https://instagram.com/stimme_gelungener_auftritt"
          target="_blank"
        >
          <img src="./assets/img/instagram.svg" alt="instagram" />
        </a>
        <a
          href="https://linkedin.com/in/elisabeth-koch-bb7b372a9"
          target="_blank"
        >
          <img src="./assets/img/linkedin.svg" alt="linkedin" />
        </a>
      </div>
    </div>

    <div class="flow">
      <h1>{{ 'menu.contact' | translate }}</h1>
      <p>Elisabeth Koch</p>
      <p>Behaimstraße 27</p>
      <p>13086 Berlin</p>

      <div class="social">
        <a class="mail" href="mailto:mail@elisabethkoch.eu">
          <img src="./assets/img/envelope.svg" alt="mail" />
        </a>
      </div>
    </div>
  </div>

  <div class="foot">
    <img
      routerLink="/"
      class="logo"
      src="assets/img/logo_white.png"
      alt="logo"
    />
    <!-- copyright and social media -->
    <p class="copyright">© Elisabeth Koch {{ currentYear }}</p>
  </div>
</footer>
