footer {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: radial-gradient(#89a3bfec, #435a73);
  padding: 60px 0;
  z-index: 1;

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
    justify-items: center;
    width: min(90%, 1200px);

    .logo {
      gap: 60px;
    }
  }

  .flow,
  .links {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    text-align: left;
    line-height: 1.6rem;
    max-width: 100%;

    img {
      height: 80px;
      object-fit: contain;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
        opacity: 0.8;
      }
    }

    h1 {
      font-size: 1.4rem;
      font-weight: 400;
      color: white;
      margin: 5px;
      padding-bottom: 10px;
    }

    p {
      font-weight: 100;
      color: white;
      margin: 2px 5px;
    }

    a {
      font-weight: 300;
      color: white;
      text-decoration: none;
      text-align: left;
      padding: 2px 5px;

      &:hover {
        color: rgb(28, 108, 179);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
    }

    .social {
      padding-top: 20px;

      a {
        background-color: transparent;
      }

      img {
        width: 25px;
        height: 25px;

        &:hover {
          transform: scale(0.9);
          border-radius: 0;
        }
      }
    }
  }
}

.copyright {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

@media (max-width: 1200px) {
  footer {
    background: linear-gradient(
      90deg,
      #435a73,
      #6883a0,
      #89a3bf,
      #89a3bf,
      #6883a0,
      #435a73
    );

    section {
      grid-template-columns: repeat(2, 1fr);
      // gap: 3rem;

      .flow {
        display: grid;
        padding: 40px;
        width: auto;
        margin: 0 40px;

        img,
        .links {
          justify-self: end;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  footer {
    background: radial-gradient(#89a3bfec, #435a73);

    section {
      grid-template-columns: repeat(1, 1fr);

      .flow {
        display: grid;
        justify-content: center;
        margin: auto;

        img {
          height: 60px;
        }

        h1 {
          font-size: 1.2rem;
        }

        .links {
          justify-self: center;
          max-width: 100%;
        }
      }
    }
  }
}
