footer {
  background: var(--color-dark);
  font-family: 'Montserrat Regular', sans-serif;
  padding: 3rem 0;
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: auto;
  justify-items: center;
  align-items: start;
  width: min(100%, 1200px);
}

.flow,
.links {
  display: flex;
  flex-direction: column;

  justify-self: center;
  align-content: center;

  font-family: inherit;
  text-align: left;
  line-height: 1.6rem;
  max-width: 100%;
}

h1 {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: var(--size-0);
  font-weight: 400;
  color: #ffffff;
  margin: 5px;
  padding-bottom: 10px;
}

p {
  font-size: var(--size--2);
  font-weight: 300;
  color: #ffffff;
  margin: 2px 5px;
}

a {
  font-size: var(--size--2);
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  padding: 2px 5px;

  &:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: 4px;
  }
}

.social {
  padding-top: 20px;

  a {
    background-color: transparent;
  }

  img {
    width: 25px;
    height: 25px;

    &:hover {
      transform: scale(0.9);
      border-radius: 0;
    }
  }
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid #aaa;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    height: 50px;
    object-fit: contain;
  }
}

.logo {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.copyright {
  font-family: inherit;
  font-size: var(--size--2);
  font-weight: 300;
  color: #fff;
  display: flex;
  padding: 50px 20px;
  margin-left: 0.6rem;
}

//
// MEDIA QUERIES
//
@media screen and (max-width: 864px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .flow {
      margin: 1rem 0;

      .links {
        justify-self: center;
        max-width: 100%;
      }
    }
  }

  .base {
    padding: 0;
  }

  .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  .copyright {
    padding: 1rem;
    text-align: center;
  }

  .point {
    display: none;
  }
}
