<div class="wrapper">
  <div class="flex">
    <div class="text">
      <h3>{{ 'faq.title' | translate }}</h3>
      <p>{{ 'faq.text' | translate }}</p>
    </div>

    <div class="accordion">
      <details>
        <summary>{{ 'faq.question_1' | translate }}</summary>
        <p>
          {{ 'faq.answer_1' | translate }}
        </p>
      </details>

      <details>
        <summary>{{ 'faq.question_2' | translate }}</summary>
        <p>
          {{ 'faq.answer_2' | translate }}
        </p>
      </details>

      <details>
        <summary>{{ 'faq.question_3' | translate }}</summary>
        <p>
          {{ 'faq.answer_3' | translate }}
        </p>
      </details>
    </div>
  </div>
</div>
