.wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-wrap: balance;
  margin: 6rem auto;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  column-gap: 4rem;
  row-gap: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  height: auto;
  padding: 2rem;

  h2 {
    font-size: clamp(1.4rem, 4vw, 1.6rem);
    font-weight: 100;
    color: #d7a533;
    margin-bottom: 2rem;
  }

  p {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 400;
    font-style: thin;
    color: #052a33;
    text-align: left;
    margin: 0.5rem auto;
  }
}

.box-frame {
  border-left: 1px solid #d7a533;
  padding-left: 2rem;
  margin-left: 2rem;
  align-content: center;
  color: #d7a533;

  h1 {
    font-size: clamp(2.8rem, 4.4vw, 5rem);
    font-weight: 100;
    line-height: 1;
  }

  .handwrite {
    font-family: 'Testimonia', sans-serif;
    font-size: 10rem;
  }
}

img {
  width: 100%;
  border-radius: 6px;
  justify-content: center;
}
//
// MEDIA QUERIES
//
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 3rem auto;
  }
  .boxes {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto; /* Automatic row heights */
    grid-template-areas:
      'box2'
      'box1'
      'box3'
      'box4';
    row-gap: 2rem;
  }

  .box_1 {
    grid-area: box1;
  }
  .box_2 {
    grid-area: box2;
  }
  .box_3 {
    grid-area: box3;
  }
  .box_4 {
    grid-area: box4;
  }

  .box {
    flex: 0 1 80vw;
    padding: 1rem;
  }

  .box-frame {
    border-left: none;
    // margin-right: 1rem;
    // margin-left: 1rem;
    // padding-right: 0;
    // padding-left: 0;
    margin: 2rem 1rem;
    padding: 0;
    text-align: center;

    h1 {
      font-size: clamp(2.4rem, 4vw, 4.5rem);
    }

    .handwrite {
      font-family: 'Testimonia', sans-serif;
      font-size: clamp(5rem, 4vw, 7rem);
    }
  }
}
