<div class="wrapper">
  <div class="boxes">
    <div class="box box_1">
      <h2>{{ 'home.slide_2' | translate }}</h2>
      <p>
        {{ 'home.text_1' | translate }}
      </p>
      <p>
        {{ 'home.text_2' | translate }}
      </p>
      <p>
        {{ 'home.text_3' | translate }}
      </p>
    </div>
    <div class="box-frame box_2">
      <h1>
        <span class="handwrite">{{ 'home.box_1' | translate }}</span>
      </h1>
      <h1>{{ 'home.box_2' | translate }}</h1>
      <h1>{{ 'home.box_3' | translate }}</h1>
    </div>
    <div class="box box_3">
      <img
        src="assets/img/woman_speaking.jpg"
        alt="woman speaking in front of audience"
      />
    </div>
    <div class="box box_4">
      <h2>
        {{ 'home.slide_3' | translate }}
      </h2>
      <p>
        {{ 'home.text_4' | translate }}
      </p>
      <p>
        {{ 'home.text_5' | translate }}
      </p>
      <p>
        {{ 'home.text_6' | translate }}
      </p>
      <p>
        {{ 'home.text_7' | translate }}
      </p>
    </div>
  </div>
</div>
