.wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat Regular', sans-serif;
  margin: 6rem auto;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  column-gap: 6rem;
  row-gap: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  height: auto;
  padding: 2rem;

  h2 {
    font-size: var(--size-1);
    font-weight: 100;
    color: var(--color-light);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--size--2);
    font-weight: 400;
    font-style: thin;
    color: var(--color-dark);
    text-align: left;
    margin: 0.5rem auto;
  }
}

.box-frame {
  border-left: 1px solid var(--color-light);
  padding-left: 2rem;
  margin-left: 2rem;
  align-content: center;
  color: var(--color-light);

  h1 {
    font-family: 'Montserrat Thin', sans-serif;
    font-size: var(--size-5);
    font-weight: 100;
    line-height: 1;
  }

  .handwrite {
    font-family: 'Funky-signature';
    font-size: 9rem;
  }
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  justify-content: center;
}

//
// MEDIA QUERIES
//
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 3rem auto;
  }
  .boxes {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto; /* Automatic row heights */
    grid-template-areas:
      'box2'
      'box1'
      'box3'
      'box4';
    row-gap: 2rem;
  }

  .box_1 {
    grid-area: box1;
  }
  .box_2 {
    grid-area: box2;
  }
  .box_3 {
    grid-area: box3;
  }
  .box_4 {
    grid-area: box4;
  }

  .box {
    flex: 0 1 80vw;
    padding: 1rem;

    p {
      line-height: 1.4;
    }
  }

  .box-frame {
    border-left: none;
    // margin-right: 1rem;
    // margin-left: 1rem;
    // padding-right: 0;
    // padding-left: 0;
    margin: 2rem 1rem;
    padding: 0;
    text-align: center;

    h1 {
      font-size: var(--size-5);
    }

    .handwrite {
      font-size: clamp(6rem, 9vw, 9rem);
    }
  }
}
