<div class="about">
  <div class="grid">
    <div>
      <h3>
        {{ 'profile.aboutme.text_2_title' | translate
        }}<span>
          {{ 'profile.aboutme.text_2_title_span' | translate }}
        </span>
      </h3>
      <p>
        {{ 'profile.aboutme.text_2.1' | translate }}

        {{ 'profile.aboutme.text_2.2' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.1' | translate }}
      </p>
      <span>Zum Profil -></span>
    </div>

    <div>
      <img src="assets/img/about_me.jpg" alt="portrait" />
    </div>
  </div>
</div>
