<div class="wrapper">
  <div class="boxes">
    <div class="box">
      <h3>
        {{ 'profile.aboutme.short.title' | translate }}
      </h3>
      <h3 class="handwrite">
        {{ 'profile.aboutme.short.handwrite' | translate }}
      </h3>
      <p>
        {{ 'profile.aboutme.short.text_1' | translate }}
      </p>

      <p>
        {{ 'profile.aboutme.short.text_2' | translate }}
      </p>
      <span
        ><a routerLink="profile">
          Zum Profil
          <img
            src="../../../assets/img/thin-long-arrow-right-icon-long.svg"
            alt="arrow"
          /> </a
      ></span>
    </div>

    <div class="box">
      <img src="assets/img/aboutme.jpg" alt="portrait" />
    </div>
  </div>
</div>
