<div class="wrapper">
  <div class="boxes">
    <div class="box">
      <h3>
        {{ 'profile.aboutme.text_2_title' | translate }}
      </h3>
      <span class="handwrite">
        {{ 'profile.aboutme.text_2_title_span' | translate }}
      </span>
      <p>
        {{ 'profile.aboutme.text_2.1' | translate }}

        {{ 'profile.aboutme.text_2.2' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.1' | translate }}
      </p>
      <span>Zum Profil -></span>
    </div>

    <div class="box">
      <img src="assets/img/about_me.jpg" alt="portrait" />
    </div>
  </div>
</div>
