.wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-wrap: balance;
  margin: 6rem auto;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  column-gap: 4rem;
  row-gap: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  height: auto;
  padding: 2rem;

  h3 {
    font-size: clamp(1.4rem, 4vw, 2rem);
    padding-bottom: 0.6rem;
    color: var(--color-light);
    line-height: 1;
  }

  .handwrite {
    font-family: 'Testimonia', sans-serif;
    font-size: clamp(3.2rem, 10vw, 6rem);
    margin: 1.4rem auto;
    padding-bottom: 1rem;
  }

  p {
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 400;
    font-style: thin;
    color: var(--color-dark);
    text-align: left;
    margin: 0.5rem auto;
  }
}

span {
  color: var(--color-light);
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 300;
  padding-top: 1.6rem;
}

img {
  width: 100%;
  border-radius: 6px;
  justify-content: center;
}

///
///
/// MEDIA QUERIES
@media screen and (max-width: 960px) {
  .wrapper {
    margin: 3rem auto;
  }

  .boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 0;
    padding: 1rem auto;
  }

  .box {
    flex: 0 1 80vw;

    .handwrite {
      justify-content: flex-start;
    }

    img {
      height: auto;
      max-width: 90vw;
    }
  }
}
