.contain {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 120px 30px 100px 30px;
  background-color: #eee;
  color: #052a33;
  font-family: 'Montserrat', sans-serif;
  text-wrap: balance;
  line-height: 1.5;
  z-index: 1;

  .text {
    display: flex;
    flex-direction: column;
    width: min(90vw, 1100px);
    margin: auto;
  }

  h1 {
    max-width: 600px;
    color: #d5a208;
    font-size: 4.5rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
    transform: rotate(-90deg) translate(-24rem, -12rem);
  }
}

.frame {
  margin-left: 20%;
  height: 100%;
}

h3 {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  padding-bottom: 1rem;
  margin-top: 2rem;
}

p,
li {
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 0.8px;
  padding-bottom: 1rem;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    border-radius: 3px;
    backdrop-filter: blur(0.5rem);
    background-color: #d5a208;
    padding: 1.2rem 4rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: 300;

    &:hover {
      color: #d5a208;
      background-color: #690046;
    }
  }
}

///
///
/// MEDIA QUERIES
@media (max-width: 1200px) {
  .text .title h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    transform: rotate(0) translate(0, 0);
    margin: auto;
  }
  .frame {
    margin-left: 0;
    padding: 1rem;
  }
}
