<div class="contain" id="work">
  <div class="text">
    <div class="title">
      <h1>{{ 'trainings.women.work.title_1' | translate }}</h1>
    </div>
    <div class="frame">
      <h3>{{ 'profile.work.title_1' | translate }}</h3>
      <p>
        {{ 'profile.work.text_1' | translate }}
      </p>
      <h3>{{ 'profile.work.title_2' | translate }}</h3>
      <p>
        {{ 'profile.work.text_2' | translate }}
      </p>
      <h3>{{ 'profile.work.title_3' | translate }}</h3>
      <p>
        {{ 'profile.work.text_3' | translate }}
      </p>
      <!-- <h3>{{ "profile.work.title_4" | translate }}</h3> -->
      <p>
        {{ 'profile.work.text_4' | translate }}
      </p>
      <!-- <h3>{{ "profile.work.title_5" | translate }}</h3> -->
      <p>
        {{ 'profile.work.text_5' | translate }}
      </p>
      <h3>{{ 'profile.work.title_6' | translate }}</h3>
      <p>
        {{ 'profile.work.text_6' | translate }}
      </p>
      <h3>{{ 'profile.work.title_7' | translate }}</h3>

      <h3>{{ 'profile.work.title_8' | translate }}</h3>

      <h3>{{ 'profile.work.title_9' | translate }}</h3>
      <p>
        {{ 'profile.work.text_9' | translate }}
      </p>
      <p>{{ 'profile.work.title_10' | translate }}</p>
      <p>
        {{ 'profile.work.text_10' | translate }}
      </p>
      <p>{{ 'profile.work.text_11' | translate }}</p>
      <br />
    </div>
  </div>
  <div class="signature">
    <span class="offer">
      <a routerLink="contact">{{ 'home.button_offer' | translate }}</a>
    </span>
  </div>
</div>
