<div class="wrapper">
  <div class="box">
    <div class="content">
      <p>
        <b>{{ 'trainings.women.benefits.texte.title_1' | translate }}</b>
        {{ 'trainings.women.benefits.texte.text_1' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.women.benefits.texte.title_2' | translate }}</b>
        {{ 'trainings.women.benefits.texte.text_2' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.women.benefits.texte.title_3' | translate }}</b>
        {{ 'trainings.women.benefits.texte.text_3' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.women.benefits.texte.title_4' | translate }}</b>
        {{ 'trainings.women.benefits.texte.text_4' | translate }}
      </p>

      <span
        ><a href="https://book.stripe.com/14kg2lbSgc1N2Fq9AB">
          {{ 'trainings.women.benefits.link' | translate }}
          <img
            src="../../../assets/img/thin-long-arrow-right-icon-long.svg"
            alt="arrow"
          /> </a
      ></span>
    </div>

    <div class="title">
      <h1>{{ 'trainings.women.benefits.title' | translate }}</h1>
    </div>
  </div>
</div>
