.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min(100vh, 840px);
  background-image: url('../../assets/img/contact_bg.png');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 4rem;
}

.text {
  color: #ffffff;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  // align-content: center;
  // padding: 1rem;

  h1 {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: var(--size-4);
    line-height: 1.2;
  }

  h2 {
    font-family: 'Montserrat Thin', sans-serif;
    font-size: var(--size-2);
    max-width: 800px;
    margin: auto;
    padding-bottom: 2rem;
  }

  p {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: var(--size--1);
    max-width: 700px;
    margin: auto;
    line-height: 2;
    padding: 4rem 1rem;
  }

  .offer a {
    font-family: 'Montserrat regular', sans-serif;
    border-radius: 3px;
    backdrop-filter: blur(0.5rem);
    background-color: var(--color-light);
    padding: 1em 2em;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: var(--size--2);
    font-weight: 400;

    &:hover {
      background-color: var(--color-light);
      color: var(--color-light);
      scale: 0.95;
    }

    &::after {
      content: '';
      background: var(--color-dark);
      border-radius: 3px;
      width: 0;
      height: 100%;
      position: absolute;
      inset: 0;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
