.boxes {
  position: relative;
  margin: 6rem auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-color: #164782dc;
}

.box {
  flex: 0 1 20vw;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin: 1rem 2rem;
  padding: 2rem;
  background-color: #94cee3;

  h1 {
    color: #0b55b0c5;
    text-align: center;
    font-size: 2rem;
  }

  p {
    color: #0b55b0;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
  }
}

//
// MEDIA QUERIES
//
@media only screen and (max-width: 1024px) {
  .box {
    flex: 0 1 70vw;

    h1 {
      text-align: center;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 768px) {
  .box {
    h1 {
      font-size: 1.3rem;
    }
  }
}
