<div class="boxes">
  <div class="box">
    <h1>{{ 'trainings.pricing.box_1.title' | translate }}</h1>
    <p>
      {{ 'trainings.pricing.box_1.text_1' | translate }}
    </p>
    <p>
      {{ 'trainings.pricing.box_1.text_2' | translate }}
    </p>
  </div>
  <div class="box bigger">
    <h1>{{ 'trainings.pricing.box_2.title' | translate }}</h1>
    <p>
      {{ 'trainings.pricing.box_2.text_1' | translate }}
    </p>
    <p>
      {{ 'trainings.pricing.box_2.text_2' | translate }}
    </p>
  </div>
  <div class="box">
    <h1>{{ 'trainings.pricing.box_3.title' | translate }}</h1>
    <p>
      {{ 'trainings.pricing.box_3.text_1' | translate }}
    </p>
    <p>
      {{ 'trainings.pricing.box_3.text_2' | translate }}
    </p>
  </div>
</div>
