.boxes {
  position: relative;
  margin: 6rem auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-image: url('../../assets/img/stage_gold.png');
  background-size: cover;
  background-position: center;
}

.box {
  flex: 0 1 20vw;
  height: auto;
  border: 2px solid var(--color-white);
  border-radius: 6px;
  margin: 2rem;
  padding: 2rem 4rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 250, 250, 0.2);

  h1 {
    color: var(--color-light);
    text-align: center;
    font-size: var(--size-1);
  }

  p {
    color: var(--color-white);
    font-size: var(--size-1);
    text-align: left;
  }
}

.bigger {
  margin: 1rem 2rem;
}

//
// MEDIA QUERIES
//
@media only screen and (max-width: 1454px) {
  .box {
    flex: 0 1 70vw;
    margin: 4rem;
  }

  .bigger {
    margin: 2rem 1rem;
  }
}
