<div class="slideshow-container">
  <img
    *ngIf="showImage"
    class="img-slideshow"
    src="assets/img/{{ images[currentImage] }}"
  />
</div>
<div class="slideshow-container slideshow-overlay">
  <div class="slogan">
    <p *ngIf="showImage" class="fadeIn">
      {{ headlines[currentImage] }}
    </p>
  </div>
</div>

<div class="boxes">
  <div class="box">
    <h1>VOICE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
  <div class="box">
    <h1>CONFIDENCE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
  <div class="box">
    <h1>PRESENCE</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
</div>

<div class="space">
  <p></p>
</div>

<div class="section">
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum
    maxime, dolorem totam suscipit quos sit labore, assumenda sapiente magni in
    debitis esse vitae iste, perspiciatis non ipsa numquam veniam adipisci?
    Expedita nisi, veritatis necessitatibus ab maxime saepe debitis tempore
    illum dolorem voluptate sint et mollitia, modi cupiditate suscipit magni
    assumenda. Sapiente ducimus at iusto quibusdam ut placeat sint labore,
    repellat totam nesciunt sunt asperiores, voluptatum ab culpa minus eveniet
    reiciendis! Eligendi praesentium esse, adipisci optio voluptatum beatae
    veritatis cupiditate quia repudiandae et dolor eum enim sequi architecto
    corrupti sint porro laborum quod repellat, consectetur consequuntur culpa
    quis error? Perspiciatis! Expedita nisi, veritatis necessitatibus ab maxime
    saepe debitis tempore illum dolorem voluptate sint et mollitia, modi
    cupiditate suscipit magni assumenda. Sapiente ducimus at iusto quibusdam ut
    placeat sint labore, repellat totam nesciunt sunt asperiores, voluptatum ab
    culpa minus eveniet reiciendis! Eligendi praesentium esse, adipisci optio
    voluptatum beatae veritatis cupiditate quia repudiandae et dolor eum enim
    sequi architecto corrupti sint porro laborum quod repellat, consectetur
    consequuntur culpa quis error? Perspiciatis!
  </p>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum
    maxime, dolorem totam suscipit quos sit labore, assumenda sapiente magni in
    debitis esse vitae iste, perspiciatis non ipsa numquam veniam adipisci?
    Expedita nisi, veritatis necessitatibus ab maxime saepe debitis tempore
    illum dolorem voluptate sint et mollitia, modi cupiditate suscipit magni
    assumenda. Sapiente ducimus at iusto quibusdam ut placeat sint labore,
    repellat totam nesciunt sunt asperiores, voluptatum ab culpa minus eveniet
    reiciendis! Eligendi praesentium esse, adipisci optio voluptatum beatae
    veritatis cupiditate quia repudiandae et dolor eum enim sequi architecto
    corrupti sint porro laborum quod repellat, consectetur consequuntur culpa
    quis error? Perspiciatis! Expedita nisi, veritatis necessitatibus ab maxime
    saepe debitis tempore illum dolorem voluptate sint et mollitia, modi
    cupiditate suscipit magni assumenda. Sapiente ducimus at iusto quibusdam ut
    placeat sint labore, repellat totam nesciunt sunt asperiores, voluptatum ab
    culpa minus eveniet reiciendis! Eligendi praesentium esse, adipisci optio
    voluptatum beatae veritatis cupiditate quia repudiandae et dolor eum enim
    sequi architecto corrupti sint porro laborum quod repellat, consectetur
    consequuntur culpa quis error? Perspiciatis!
  </p>
</div>
