.slideshow-container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.img-slideshow {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  animation: zoomIn 8s ease-out infinite;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
    blur: 1;
  }
  to {
    transform: scale(1.1);
  }
}

.slideshow-overlay {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  p {
    border-left: 3px solid white;
    margin-left: 300px;
    padding-left: 2rem;
    font-size: 4rem;
    font-style: italic;
    color: white;
  }
}

.fadeIn {
  animation: fadeInAnimation 1.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
