<section class="background-container">
  <img
    *ngIf="showImage"
    class="img-backclip"
    src="assets/img/{{ images2[currentImage] }}"
  />
</section>
<aside>
  <div class="slideshow-container">
    <img
      *ngIf="showImage"
      class="img-slideshow"
      src="assets/img/{{ images[currentImage] }}"
    />
  </div>

  <div class="slideshow-container slideshow-overlay">
    <p *ngIf="showImage" class="fadeIn">
      {{ headlines[currentImage] }}
    </p>
  </div>
</aside>
<div class="about">
  <h1 class="title">Über Mich</h1>
  <div class="text">
    <div class="left_col">
      <p>
        Ich bin Diplom Logopädin, integrative Stimmtrainerin, Train the
        Trainerin, Systemischer Coach, Kommunikationstrainerin und ausgebildete
        Sprecherin.
      </p>
      <p>
        Ich stand 4 Jahre als Schauspielerin auf der Bühne, habe eine
        Gesangsausbildung, sowie eine Ausbildung zur Ostheopatin für
        Stimmbehandlungen.
      </p>
    </div>
    <div class="right_col">
      <p>
        Ich stehe selbst auch auf der Bühne und vor dem Mikrophon. Seit über 20
        Jahren coache ich Menschen in Ihrer persönlichen Wirkung, Ihrer Präsenz,
        ihrem Auftreten sowie Ihrer lebendigen Stimmkraft. Allem, was mit
        Präsenz, Auftritt, Wirkung, lebendiger Stimme und Kommunikation in
        Verbindung steht, gilt meine Leidenschaft.
      </p>
    </div>
  </div>
</div>
