// Backgound Animation
section {
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}

.background-container {
  position: fixed;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  transform: translateY(-20px);
}

.img-backclip {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  object-position: bottom;
  animation: zoomOut 8s ease-out infinite;
  filter: blur(10px);
  background-color: #435a73;
}

aside {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 650px;
}

.slideshow-container {
  max-width: 100%;
  margin: auto;
  max-width: 980px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: translateY(-20px);
}

.img-slideshow {
  height: 650px;
  width: 1080px;
  object-fit: cover;
  object-position: top;
  animation: zoomIn 8s ease-out infinite;
  background-color: black;
  overflow: hidden;
}

// SLIDESHOW ANIMATION
@keyframes zoomIn {
  from {
    transform: scale(1);
    blur: 1;
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.2);
    blur: 1;
  }
  to {
    transform: scale(1.4);
  }
}

.slideshow-overlay {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 20px;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-wrap: balance;
    color: white;
  }
}

// SLIDETEXT ANIMATION
.fadeIn {
  animation: fadeInAnimation 1.5s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// TEXT
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  background-color: rgba(12, 12, 12, 0.8);
  box-sizing: border-box;
  width: min(100%, 980px);
  margin: 40px auto 0;
  padding: 40px 30px 100px 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1.1;
    text-transform: uppercase;
    text-align: center;
    color: rgba(195, 162, 43, 0.8);
  }

  p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.8px;
    text-wrap: balance;
    color: rgb(191, 158, 39);
  }
}

@media (min-width: 40em) {
  .slideshow-overlay {
    p {
      // margin: 20px;
      font-size: 2rem;
      text-wrap: balance;
    }
  }
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .title {
    text-align: left;
    padding-left: 20px;
  }
  .right_col {
    padding: 0 20px;
    padding-top: 43px;
    line-height: 1.4;
  }
}

@media (min-width: 60em) {
  .slideshow-overlay {
    p {
      font-size: 2.5rem;
      text-wrap: balance;
    }
  }
  .slideshow-container {
    border-radius: 0 0 10px 10px;
  }
  .about {
    border-radius: 10px 10px 0 0;
    // border: 1px solid white;
    .title {
      text-align: left;
      padding-left: 20px;
    }
    .text {
      display: flex;
      flex-direction: row;
    }
  }
}
