<section class="background-container">
  @if (showImage) {
    <img
      class="img-backclip"
      src="assets/img/{{ images2[currentImage] }}"
      />
  }
</section>

<aside>
  <div class="slideshow-container">
    @if (showImage) {
      <img
        class="img-slideshow"
        src="assets/img/{{ images[currentImage] }}"
        />
    }
  </div>

  <div class="slideshow-container slideshow-overlay">
    @if (showImage) {
      <p class="fadeIn">
        {{ headlines[currentImage] }}
      </p>
    }
  </div>
</aside>

<div class="about">
  <div class="text">
    <h1>{{ "aboutme.title" | translate }}</h1>
    <div class="frame">
      <h3>{{ "aboutme.text_1_title" | translate }}</h3>
      <p>
        {{ "aboutme.text_1" | translate }}
      </p>
      <h3>{{ "aboutme.text_2_title" | translate }}</h3>
      <p>
        {{ "aboutme.text_2" | translate }}
      </p>
      <br />
      <div class="signature">
        <div>
          <p>{{ "aboutme.end" | translate }}</p>
          <img src="assets/img/signature.png" alt="signature" />
        </div>
        <div>
          <img src="assets/img/about_me.jpg" alt="portrait" />
        </div>
      </div>
    </div>
  </div>
</div>
