<div class="slideshow-container">
  <img
    *ngIf="showImage"
    class="img-slideshow"
    src="assets/img/{{ images[currentImage] }}"
  />
</div>
<div class="slideshow-container slideshow-overlay">
  <p *ngIf="showImage" class="fadeIn">
    {{ headlines[currentImage] }}
  </p>
</div>
<div class="about">
  <h1>About me</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quis, a
    repellat odio recusandae pariatur, blanditiis quo nulla dolorum nostrum,
    deleniti modi voluptas quod molestiae velit voluptatibus quibusdam. Alias,
    non? Asperiores numquam, possimus eligendi dicta aliquam exercitationem
    recusandae obcaecati reiciendis minima porro quis ipsum saepe ipsa qui iste
    ut distinctio sequi tenetur officia, doloremque hic nesciunt nam, inventore
    sapiente. Quasi repudiandae voluptatum atque modi assumenda aliquid
    molestias. Assumenda adipisci nobis fugiat laudantium vel eos non labore
    possimus! Sequi quaerat et accusamus. Architecto quo temporibus magnam
    facere, non deserunt culpa vero odit quod saepe? Adipisci inventore itaque
    quas ab, ea nulla doloremque nihil, quasi non dolorum eaque deleniti, quod
    reiciendis! Placeat amet illo blanditiis ex qui totam iure cumque! Accusamus
    quia fuga nostrum magnam culpa commodi facere, repudiandae consectetur
    accusantium hic aut tenetur ea doloribus deleniti eius omnis! Aliquid earum
    reprehenderit dolor blanditiis, quaerat obcaecati voluptas ipsam commodi
    numquam voluptatum magni totam dolorum eos ut fuga in sequi error quisquam
    nisi! Amet, inventore. Quibusdam, dolor excepturi? Nesciunt perferendis
    recusandae laudantium iste repellendus explicabo repellat illum totam nemo
    nihil harum nobis maxime, deleniti, esse, ullam quos? Cumque ducimus maxime
    vitae veniam eum quidem explicabo obcaecati inventore nostrum. Voluptatibus
    quam nisi quidem laborum.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quis, a
    repellat odio recusandae pariatur, blanditiis quo nulla dolorum nostrum,
    deleniti modi voluptas quod molestiae velit voluptatibus quibusdam. Alias,
    non? Asperiores numquam, possimus eligendi dicta aliquam exercitationem
    recusandae obcaecati reiciendis minima porro quis ipsum saepe ipsa qui iste
    ut distinctio sequi tenetur officia, doloremque hic nesciunt nam, inventore
    sapiente. Quasi repudiandae voluptatum atque modi assumenda aliquid
    molestias. Assumenda adipisci nobis fugiat laudantium vel eos non labore
    possimus! Sequi quaerat et accusamus. Architecto quo temporibus magnam
    facere, non deserunt culpa vero odit quod saepe? Adipisci inventore itaque
    quas ab, ea nulla doloremque nihil, quasi non dolorum eaque deleniti, quod
    reiciendis! Placeat amet illo blanditiis ex qui totam iure cumque! Accusamus
    quia fuga nostrum magnam culpa commodi facere, repudiandae consectetur
    accusantium hic aut tenetur ea doloribus deleniti eius omnis! Aliquid earum
    reprehenderit dolor blanditiis, quaerat obcaecati voluptas ipsam commodi
    numquam voluptatum magni totam dolorum eos ut fuga in sequi error quisquam
    nisi! Amet, inventore. Quibusdam, dolor excepturi? Nesciunt perferendis
    recusandae laudantium iste repellendus explicabo repellat illum totam nemo
    nihil harum nobis maxime, deleniti, esse, ullam quos? Cumque ducimus maxime
    vitae veniam eum quidem explicabo obcaecati inventore nostrum. Voluptatibus
    quam nisi quidem laborum.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quis, a
    repellat odio recusandae pariatur, blanditiis quo nulla dolorum nostrum,
    deleniti modi voluptas quod molestiae velit voluptatibus quibusdam. Alias,
    non? Asperiores numquam, possimus eligendi dicta aliquam exercitationem
    recusandae obcaecati reiciendis minima porro quis ipsum saepe ipsa qui iste
    ut distinctio sequi tenetur officia, doloremque hic nesciunt nam, inventore
    sapiente. Quasi repudiandae voluptatum atque modi assumenda aliquid
    molestias. Assumenda adipisci nobis fugiat laudantium vel eos non labore
    possimus! Sequi quaerat et accusamus. Architecto quo temporibus magnam
    facere, non deserunt culpa vero odit quod saepe? Adipisci inventore itaque
    quas ab, ea nulla doloremque nihil, quasi non dolorum eaque deleniti, quod
    reiciendis! Placeat amet illo blanditiis ex qui totam iure cumque! Accusamus
    quia fuga nostrum magnam culpa commodi facere, repudiandae consectetur
    accusantium hic aut tenetur ea doloribus deleniti eius omnis! Aliquid earum
    reprehenderit dolor blanditiis, quaerat obcaecati voluptas ipsam commodi
    numquam voluptatum magni totam dolorum eos ut fuga in sequi error quisquam
    nisi! Amet, inventore. Quibusdam, dolor excepturi? Nesciunt perferendis
    recusandae laudantium iste repellendus explicabo repellat illum totam nemo
    nihil harum nobis maxime, deleniti, esse, ullam quos? Cumque ducimus maxime
    vitae veniam eum quidem explicabo obcaecati inventore nostrum. Voluptatibus
    quam nisi quidem laborum.
  </p>
</div>
