<div class="about">
  <div class="grid">
    <div>
      <h1>{{ 'profile.aboutme.title' | translate }}</h1>
      <p>
        {{ 'profile.aboutme.text_1.1' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_1.2' | translate }}
      </p>
    </div>

    <div class="title">
      <img src="assets/img/about_me.jpg" alt="portrait" />
    </div>

    <div class="text">
      <h3>{{ 'profile.aboutme.text_2_title' | translate }}</h3>
      <p>
        {{ 'profile.aboutme.text_2.1' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_2.2' | translate }}
      </p>
      <h3>{{ 'profile.aboutme.text_3_title' | translate }}</h3>
      <p>
        {{ 'profile.aboutme.text_3.1' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.2' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.3' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.4' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.text_3.5' | translate }}
      </p>
    </div>
    <div class="signature">
      <p>{{ 'profile.aboutme.end' | translate }}</p>
      <img src="assets/img/signature.png" alt="signature" />
    </div>
  </div>
</div>
