<div class="wrapper">
  <div class="boxes">
    <div class="box box_1">
      <p>
        {{ 'profile.aboutme.boxes.box_1.text_1' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.boxes.box_1.text_2' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.boxes.box_1.text_3' | translate }}
      </p>
      <p>
        {{ 'profile.aboutme.boxes.box_1.text_4' | translate }}
      </p>
    </div>

    <div class="box box_3">
      <img src="assets/img/me_green.png" alt="Elisabeth Koch" />
    </div>

    <div class="box-frame box_2">
      <h1 class="handwrite">
        {{ 'profile.aboutme.boxes.box_3.title_1' | translate }}
      </h1>
      <h1>{{ 'profile.aboutme.boxes.box_3.title_2' | translate }}</h1>
      <h1>{{ 'profile.aboutme.boxes.box_3.title_3' | translate }}</h1>
    </div>

    <div class="box box_4">
      <h2>
        {{ 'profile.aboutme.boxes.box_4.title' | translate }}
      </h2>
      <p>
        {{ 'profile.aboutme.boxes.box_4.text_1' | translate }}
      </p>

      <p>
        {{ 'profile.aboutme.boxes.box_4.text_2' | translate }}
      </p>

      <p>
        {{ 'profile.aboutme.boxes.box_4.text_3' | translate }}
      </p>
    </div>
  </div>
</div>
