.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // font-family: 'Montserrat Regular', sans-serif;
  margin: 6rem auto;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  column-gap: 4rem;
  row-gap: 4rem;
}

.box {
  max-width: 450px;
  height: auto;
  padding: 2rem;
  align-content: center;

  h2 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: var(--size-1);
    color: var(--color-light);
    margin-bottom: 2rem;
  }

  p {
    font-family: 'Montserrat Regular', sans-serif;
    color: var(--color-dark);
    font-size: var(--size--2);
    text-align: left;
    margin: 1rem auto;
  }

  li {
    line-height: 2;
  }
}

.box-frame {
  border-right: 1px solid var(--color-light);
  padding-right: 2rem;
  margin-right: 1rem;
  align-content: center;
  text-align: right;
  color: var(--color-light);

  h1 {
    font-family: 'Montserrat ExtraLight', sans-serif;
    font-size: var(--size-5);
    line-height: 1;
  }

  .handwrite {
    font-family: 'Funky-signature';
    font-size: 8rem;
  }
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  justify-content: center;
}

//
// MEDIA QUERIES
//
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 3rem auto;
    width: 90vw;
  }

  .boxes {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto; /* Automatic row heights */
    grid-template-areas:
      'box2'
      'box1'
      'box3'
      'box4';
    row-gap: 2rem;
  }

  .box_1 {
    grid-area: box1;
  }
  .box_2 {
    grid-area: box2;
  }
  .box_3 {
    grid-area: box3;
  }
  .box_4 {
    grid-area: box4;
  }

  .box {
    flex: 0 1 80vw;
  }

  .box-frame {
    border-right: none;
    border-left: 1px solid var(--color-light);
    margin: 2rem;
    padding-left: 3rem;
    text-align: left;

    h1 {
      font-size: var(--size-5);
    }

    .handwrite {
      font-size: clamp(5rem, 9vw, 9rem);
    }
  }
}
