<div class="slideshow-container" id="home">
  <img
    *ngIf="showImage"
    class="img-slideshow"
    src="assets/img/{{ images[currentImage] }}"
    alt="Elisabeth Koch"
  />
</div>
<div class="contain">
  <div class="slideshow-overlay">
    <div *ngIf="showImage" class="fadeIn">
      <h2>{{ text_big | translate }}</h2>
      <h1>
        {{ headline | translate }}
      </h1>
      <p>
        {{ text_small | translate }}
      </p>
      <span class="offer">
        <a href="{{ link }}">{{ 'home.button_offer' | translate }}</a>
      </span>
    </div>
  </div>
</div>
