div {
  margin-top: 80px;
  width: min(90%, 800px);
  margin-inline: auto;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // border: 2px solid red;
}
