section {
  position: relative;
  width: min(100%, 780px);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(-150px);

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    z-index: 1;
  }

  h1 {
    font-size: 7rem;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    z-index: 2;
  }
}

.grid {
  display: grid;
  grid-template-columns: 5;
}

.contact {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: inherit;
  backdrop-filter: blur(8px);
  background-color: rgba(37, 127, 212, 0.595);
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  z-index: 2;

  p {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-wrap: balance;
  }

  .icons {
    margin-top: 3rem;
  }
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(28, 108, 179);
  text-decoration: none;
}

.social {
  padding-top: 20px;
  position: absolute;

  a {
    background-color: transparent;
  }

  img {
    position: absolute;
    width: 25px;
    height: 25px;

    &:hover {
      transform: scale(0.9);
      border-radius: 0;
    }
  }
}

@media (min-width: 40em) {
  section {
    margin-top: 150px;
  }
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .right_col {
      padding: 5px 0;

      p {
        line-height: 1.8;
      }
    }
    .left_col {
      padding: 10px 0;

      p {
        line-height: 1.8;
      }
    }
  }
}
