section {
  position: relative;
  width: min(100%, 780px);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 180px auto;
  margin-inline: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    z-index: 1;
  }

  h1 {
    font-size: 7rem;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    z-index: 2;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 40px;
  font-family: inherit;
  backdrop-filter: blur(6px);
  background-color: rgba(101, 158, 211, 0.7);
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  z-index: 2;

  p {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-wrap: balance;
  }

  .right_col {
    padding: 5px 0;

    p {
      line-height: 1.8;
    }
  }
  .left_col {
    padding: 10px 0;

    p {
      line-height: 1.8;
    }
  }
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(28, 108, 179);
  text-decoration: none;
}

.social {
  padding-top: 20px;
  position: absolute;

  a {
    background-color: transparent;
  }

  img {
    position: absolute;
    width: 25px;
    height: 25px;

    &:hover {
      transform: scale(0.9);
      border-radius: 0;
    }
  }
}

@media (max-width: 720px) {
  section {
    display: flex;

    h1 {
      font-size: 16vw;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;

    .left_col {
      padding: 25px auto;
    }
    .right_col {
      padding: 100px 40px 60px;
      text-align: center;
    }
  }
}
