<section class="wrapper" id="contact">
  <h1>{{ 'contact.title' | translate }}</h1>
  <div class="contact">
    <div class="left_col">
      <p>
        {{ 'contact.text_1.1' | translate }}
      </p>
      <p>
        {{ 'contact.text_1.2' | translate }}
      </p>
      <p>
        {{ 'contact.text_1.3' | translate }}
      </p>
    </div>
    <div class="right_col">
      <p>Elisabeth Koch</p>
      <p>Behaimstraße 27</p>
      <p>13086 Berlin</p>
      <p>+49 0176 72173650</p>
      <p>
        <a href="mailto:mail@elisabethkoch.eu" class="social">
          <img src="./assets/img/envelope.svg" alt="mail" />
        </a>
      </p>
    </div>
  </div>
  <!-- <iframe
    src="https://tidycal.com/pineappleblue/kennenlernen?embed=1"
    id="tidycal-embed-s00ye"
    class="tidycal-embed"
    style="
      border: medium;
      width: 1px;
      min-width: 100%;
      height: 755px;
      overflow: hidden;
      min-height: 500px;
    "
    title="TidyCal"
    scrolling="no"
  ></iframe>
  <div consent-transform-wrapper="1">
    <script
      async=""
      consent-by="services"
      consent-id="2944"
      type="application/javascript"
      src="https://asset-tidycal.b-cdn.net/js/embed.js"
      consent-transaction-complete="1"
    ></script>
  </div> -->
  <div class="tidycal-embed" data-path="1y42ro1/30-minute-meeting"></div>
  <script src="https://asset-tidycal.b-cdn.net/js/embed.js" async></script>
</section>
