<section>
  <!-- <img src="assets/img/piano.jpg" alt="piano" /> -->
  <h1>Contact</h1>
  <div class="contact">
    <div class="left_col">
      <p>Elisabeth Koch</p>
      <p>Charlottenburger Starße 30</p>
      <p>13086 Berlin</p>
      <p>+49 0176 72173650</p>
      <a href="mailto:mail@elisabethkoch.eu">Mail</a>
    </div>
    <div class="right_col">
      <p>
        Schreiben Sie mir gerne eine persönliche Nachricht oder wählen Sie einen
        Termin für ein 30minütiges, kostenfreies Erstgespräch per Telefon aus.
        Ich freue über Ihre Nachricht!
      </p>
      <p>
        Kontaktieren Sie mich für ein kostenfreies Erstgespräch via Telefon! Ich
        freue mich auf Sie!
      </p>
    </div>
  </div>
</section>
