<div class="contain">
  <div class="text">
    <h1>{{ "work.title" | translate }}</h1>
    <div class="frame">
      <h3>{{ "work.title_1" | translate }}</h3>
      <p>
        {{ "work.text_1" | translate }}
      </p>
      <h3>{{ "work.title_2" | translate }}</h3>
      <p>
        {{ "work.text_2" | translate }}
      </p>
      <h3>{{ "work.title_3" | translate }}</h3>
      <p>
        {{ "work.text_3" | translate }}
      </p>
      <!-- <h3>{{ "work.title_4" | translate }}</h3> -->
      <p>
        {{ "work.text_4" | translate }}
      </p>
      <!-- <h3>{{ "work.title_5" | translate }}</h3> -->
      <p>
        {{ "work.text_5" | translate }}
      </p>
      <h3>{{ "work.title_6" | translate }}</h3>
      <p>
        {{ "work.text_6" | translate }}
      </p>
      <h3>{{ "work.title_7" | translate }}</h3>
      <ul>
        <li *ngFor="let text of text_7">{{ text | translate }}</li>
      </ul>
      <h3>{{ "work.title_8" | translate }}</h3>
      <ul>
        <li *ngFor="let text of text_8">
          {{ text | translate }}
        </li>
      </ul>
      <h3>{{ "work.title_9" | translate }}</h3>
      <p>
        {{ "work.text_9" | translate }}
      </p>
      <p>{{ "work.title_10" | translate }}</p>
      <p>
        {{ "work.text_10" | translate }}
      </p>
      <p>{{ "work.text_11" | translate }}</p>
      <br />
      <div class="signature">
        <div>
          <!-- <img src="assets/img/about_me.jpg" alt="portrait" /> -->
        </div>
        <div>
          <p>{{ "aboutme.end" | translate }}</p>
          <img src="assets/img/signature.png" alt="signature" />
        </div>
      </div>
    </div>
  </div>
</div>
