.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-image: url('../../../assets/img/contact_bg.png');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 4rem;
}

.text {
  color: #ffffff;
  max-width: 960px;
  text-align: center;
  padding: 1rem;
  text-wrap: balance;

  h3 {
    line-height: 1.2;
    font-size: clamp(2.8rem, 4vw, 3.4rem);
    font-weight: 600;
  }

  h6 {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-weight: 300;
    margin-bottom: 2rem;
  }

  p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 300;
    padding: 3rem 1rem;
  }
}
