<div class="wrapper">
  <div class="boxes">
    <div class="box box_1">
      <h2>
        {{ "profile.work.boxes.title" | translate }}
      </h2>
      <ul>
        <li *ngFor="let text of text_1">
          {{ text | translate }}
        </li>
      </ul>
    </div>

    <div class="box box_2 offer">
      <h1>
        {{ "menu.contact" | translate }}
      </h1>

      <h2>
        <span>
          {{ "profile.work.boxes.text_2" | translate }}
        </span>
      </h2>
      <p>
        Lass uns darüber sprechen was Dich bewegt! In einem unverbindlichen
        Kennenlerngespräch darfst Du alle deine Fragen und Wünsche äußern und
        wir finden heraus, ob ich für Dich die ideale Partnerin bin, um deiner
        Stimme mehr Ausdruck zu verleihen.
      </p>

      <div class="button">
        <a href="#/contact">{{ "courses.offer.button" | translate }}</a>
      </div>
    </div>
  </div>
</div>
