<div class="tidycal">
  <p>{{ 'contact.termin' | translate }}</p>
  <iframe
    src="https://tidycal.com/pineappleblue/kennenlernen?embed=1"
    id="tidycal-embed-s00ye"
    class="tidycal-embed"
    style="
      border: medium;
      width: 1px;
      min-width: 100%;
      height: 755px;
      overflow: hidden;
      min-height: 500px;
    "
    title="TidyCal"
    scrolling="no"
  ></iframe>
  <div consent-transform-wrapper="1">
    <script
      async=""
      consent-by="services"
      consent-id="2944"
      type="application/javascript"
      src="https://asset-tidycal.b-cdn.net/js/embed.js"
      consent-transaction-complete="1"
    ></script>
  </div>
</div>
