<div class="contain" id="work">
  <div class="text">
    <div class="title">
      <h1>{{ 'profile.work.title' | translate }}</h1>
      <img src="assets/img/thin-long-arrow-curve-icon.svg" alt="arrow" />
    </div>
    <div class="frame">
      <b>{{ 'profile.work.title_1' | translate }}</b>
      <p>
        {{ 'profile.work.text_1' | translate }}
      </p>
      <b>{{ 'profile.work.title_2' | translate }}</b>
      <p>
        {{ 'profile.work.text_2' | translate }}
      </p>
      <b>{{ 'profile.work.title_3' | translate }}</b>
      <p>
        {{ 'profile.work.text_3' | translate }}
      </p>
      <b>{{ 'profile.work.title_4' | translate }}</b>
      <p>
        {{ 'profile.work.text_4' | translate }}
      </p>
      <b>{{ 'profile.work.title_5' | translate }}</b>
      <p>
        {{ 'profile.work.text_5' | translate }}
      </p>
    </div>
  </div>
</div>
