div {
  width: 100%;
  height: 8rem;
  padding: 1rem auto;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #052a3330;
}

img {
  position: absolute;
  background-color: #fff;
  padding: 1rem 3rem;
  width: 12rem;
}
