.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('../../assets/img/bg_dark.jpg');
  background-size: cover;
  background-position: center;
  text-wrap: balance;
}

.text {
  color: #ffffff;
  padding: 4rem 1rem;
  max-width: 1200px;
  text-align: center;
  line-height: 1.6;
  margin: 10rem auto;
}

h1 {
  font-family: 'Montserrat Light', sans-serif;
  font-size: clamp(1.4rem, 3vw, 2.2rem);
  margin-bottom: 3rem;
}

p {
  font-family: 'Montserrat Bold', sans-serif;
  font-size: clamp(0.8rem, 4vw, 0.9rem);
}
