<app-header
  [darkMode]="
    router.url !== '/' &&
    router.url !== '/trainings' &&
    router.url !== '/courses' &&
    router.url !== '/courses/women' &&
    router.url !== '/profile' &&
    router.url !== '/blog' &&
    router.url !== '/contact' &&
    router.url !== '/contact/aquaintment' &&
    router.url !== '/contact/first-appointment'
  "
></app-header>
<div [class.container]="router.url" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<app-footer></app-footer>
