@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.woff')
    format('truetype');
  src: url('/assets/fonts/Montserrat/Montserrat-Thin.woff') format('truetype');
  src: url('/assets/fonts/Montserrat/Montserrat-SemiBold.woff')
    format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: thin, normal, bold, italic;
  letter-spacing: normal;
}

@font-face {
  font-family: 'Reading';
  src: url('/assets/fonts/Reading/Reading_Regular.ttf') format('truetype');
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 0;
}
