/* Montserrat Thin */
@font-face {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Thin.woff') format('woff');
}

/* Montserrat Light */
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

/* Handwrite Testimonia Regular (default weight 400) */
@font-face {
  font-family: 'Testimonia';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/testimonia/Testimonia.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat-regular', sans-serif;
  --color-light: #b18724;
  --color-dark: #052a33;
}

html {
  font-size: 16px;
}

.container {
  padding: 0;
}

// .no-scroll {
//   overflow: hidden;
//   height: 100%;
// }
