<div class="wrapper">
  <div class="boxes">
    <div class="box-frame box_2">
      <h1 class="handwrite">
        {{ 'trainings.main.boxes_2.box_1.title_1' | translate }}
      </h1>
      <h1>{{ 'trainings.main.boxes_2.box_1.title_2' | translate }}</h1>
      <h1>{{ 'trainings.main.boxes_2.box_1.title_3' | translate }}</h1>
    </div>

    <div class="box box_1">
      <p>
        {{ 'trainings.main.boxes_2.box_2.text_1' | translate }}
      </p>
      <p>
        {{ 'trainings.main.boxes_2.box_2.text_2.1' | translate }}
        <b>
          {{ 'trainings.main.boxes_2.box_2.text_2.2' | translate }}
        </b>
        {{ 'trainings.main.boxes_2.box_2.text_2.3' | translate }}
      </p>
      <h2>{{ 'trainings.main.boxes_2.box_2.title' | translate }}</h2>
      <p>
        {{ 'trainings.main.boxes_2.box_2.text_3' | translate }}
      </p>
      <p>
        {{ 'trainings.main.boxes_2.box_2.text_4.1' | translate }}
        <b>
          {{ 'trainings.main.boxes_2.box_2.text_4.2' | translate }}
        </b>
        {{ 'trainings.main.boxes_2.box_2.text_4.3' | translate }}
      </p>
    </div>

    <div class="box box_4">
      <h2>
        {{ 'trainings.main.boxes_2.box_3.title' | translate }}
      </h2>
      <ul>
        <li *ngFor="let text of text_1">
          {{ text | translate }}
        </li>
      </ul>
      <p>
        <b>
          {{ 'trainings.main.boxes_2.box_3.text_2' | translate }}
        </b>
      </p>
    </div>

    <div class="box box_3 offer">
      <h1>
        {{ 'trainings.main.boxes_2.box_4.title' | translate }}
      </h1>

      <h2>
        <span>
          {{ 'trainings.main.boxes_2.box_4.text_1' | translate }}
        </span>
      </h2>
      <p><b>Online:</b> Über Zoom</p>
      <p><b>Vor Ort:</b> Behaimstrasse 27, 13086 Berlin</p>
      <p>
        <b> Dauer: </b>
        60 min
      </p>
      <p>
        <b> Tarif: </b>
        150€ zuzügl. MwSt.
      </p>

      <div class="button">
        <a href="#/contact/first-appointment">{{
          'courses.offer.button' | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
