<div class="wrapper ml-embedded" data-form="B5Ub9g">
  <div class="form">
    <div class="col text">
      <h1>{{ 'newsletter.title' | translate }}</h1>
      <p>{{ 'newsletter.text' | translate }}</p>
    </div>
    <div class="col">
      <div class="container">
        <input type="text" placeholder="Name" name="name" required />
        <input type="text" placeholder="Email" name="mail" required />
        <input class="offer" type="submit" value="Senden" />
      </div>
    </div>
  </div>
</div>
