<div class="wrapper">
  <div class="form">
    <!-- Linke Spalte: Dein Text -->
    <div class="col text">
      <h1>
        {{ 'newsletter.title_1' | translate }}
        <span>{{ 'newsletter.title_2' | translate }}</span>
      </h1>
      <p>{{ 'newsletter.text' | translate }}</p>
    </div>

    <!-- Rechte Spalte: Hier klinkt sich MailerLite jetzt vollautomatisch ein -->
    <div class="col">
      <!-- 
        Das ist der offizielle Platzhalter für dein Formular (ID: 3oWMzk).
        Das Universal-Script aus deiner index.html erkennt dieses Element 
        und baut das funktionierende Formular inklusive Erfolgstext direkt hier ein.
      -->
      <div class="ml-embedded" data-form="3oWMzk"></div>
    </div>
  </div>
</div>
