<div class="wrapper">
  <div class="form">
    <div class="col text">
      <h1>{{ 'newsletter.title' | translate }}</h1>
      <p>{{ 'newsletter.text' | translate }}</p>
    </div>
    <div class="col">
      <form
        action="https://assets.mailerlite.com/js/universal.js"
        class="container ml-embedded"
        data-form="B5Ub9g"
        method="POST"
      >
        <input type="text" placeholder="Name" name="name" required />
        <input type="email" placeholder="Email" name="email" required />
        <input class="offer" type="submit" value="Senden" />
      </form>
    </div>
  </div>
</div>
