<section>
  <h1>Angebote & Kosten</h1>
  <p>
    Schreiben Sie mir gerne eine persönliche Nachricht oder wählen Sie einen
    Termin für ein 30minütiges, kostenfreies Erstgespräch per Telefon aus. Ich
    freue über Ihre Nachricht!
  </p>

  <ol>
    <a href="https://calendly.com/ihre-stimme/30min" target="_blank"
      >Link Calendly </a
    >- für 30minütiges kostenfreies Telefonat
    <br />
    <!-- Link - Calendly PW: Robercik108! Link: ihre-stimme
    https://calendly.com/ihre-stimme/30min -->
  </ol>

  <table>
    <tr>
      <th>Coaching</th>
      <th>Kosten</th>
    </tr>
    <tr>
      <td>30minütiges Erstgespräch per Telefon</td>
      <td>kostenfrei</td>
    </tr>
    <tr>
      <td>Probestunde 60min nach ersten Telefonat</td>
      <td>120€</td>
    </tr>
    <tr>
      <td>Einzelcoaching á 60min</td>
      <td>180€</td>
    </tr>
    <tr>
      <td>Einzelcoaching 6er Paket 6x60min</td>
      <td>1080€</td>
    </tr>
    <tr>
      <td>
        Im Zeitraum von vier Monaten Einzelcoaching 10er Paket 10x60min Im
        Zeitraum von 6 Monaten
      </td>
      <td>1800€</td>
    </tr>
    <tr>
      <td>
        <span>SOS Termin 1x90min:</span>
        <li>
          <ol>
            - so bald und sofort wie nur möglich inclusive Vorgespräch am
            Telefon 30 Minuten
            <br />
            <a href="https://calendly.com/ihre-stimme/30min" target="_blank"
              >Link Calendly
            </a>
          </ol>
          <ol>
            - bei Kehlkopfentzündungen** und sonstigen Stimmerkrankungen
          </ol>
          <ol>
            - vor Auftritten, Lampenfieber o.ä.
          </ol>
          <ol>
            - auch direkt am Auftrittsort
            <span>zuzügl Anfahrtskosten ausserhalb Berlins</span>
          </ol>
        </li>
      </td>
      <td>270€</td>
    </tr>
  </table>

  <li>
    <i>
      <ol>
        **ja, ein Teminangebot bei Kehlkopfentzündungen ist ungewöhnlich. Ich
        werde Sie hier sicher führen und Ihre Stimme schützen:
      </ol>
      <ol>
        - Wir werden ausschließlich Atemübungen machen.
      </ol>

      <ol>
        - Die Muskulatur in Ihrem Kehlkopf wird sich hierdurch entspannen. So
        kann sich die Schleimhaut in Ihrem Kehlkopf regenerieren. Es wird sich
        gut anfühlen.
      </ol>
    </i>
  </li>
  <br />
  <p>Kostenfreie Terminabsage bis 24 Stunden vor Beginn des Termins möglich.</p>
  <p>
    Auch ich halte mich an Terminabsprachen und sage ggf. 24 Stunden vorher ab.
  </p>

  <p>
    Kontaktieren Sie mich für ein kostenfreies Erstgespräch via Telefon! Ich
    freue mich auf Sie!
  </p>
</section>
