<div>
  <!-- <img src="assets/img/piano.jpg" alt="piano" />
</div>
<div class="info"> -->
  <h1>Kosten & Kontakt</h1>
  <p>
    Schreiben Sie mir gerne eine persönliche Nachricht oder wählen Sie einen
    Termin für ein 30minütiges, kostenfreies Erstgespräch per Telefon aus. Ich
    freue über Ihre Nachricht!
  </p>
  <li>
    - Link Calendly - für 30minütiges kostenfreies Telefonat
    https://calendly.com/ihre-stimme/30min
  </li>
  <li>- Fenster - Nachricht</li>
  <p></p>
       <p></p>
  <p></p>
         <p>
    30minütiges Erstgespräch per Telefon kostenfrei Probestunde 60min nach
    ersten Telefonat 120€ Einzelcoaching á 60min 180€ Einzelcoaching 6er Paket
    6x60min 1080€ Im Zeitraum von vier Monaten Einzelcoaching 10er Paket
    10x60min 1800€ Im Zeitraum von 6 Monaten SOS Termin 1x90min 270€ so bald und
    sofort wie nur möglich inclusive Vorgespräch am Telefon 30 Minuten -link
    Calendly  https://calendly.com/ihre-stimme/30min bei Kehlkopfentzündungen**
    und sonstigen Stimmerkrankungen vor Auftritten, Lampenfieber o.ä. auch
    direkt am Auftrittsort   zuzügl Anfahrtskosten ausserhalb Berlins **ja, ein
    Teminangebot bei Kehlkopfentzündungen ist ungewöhnlich. Ich werde Sie hier
    sicher führen und Ihre Stimme schützen: • Wir werden ausschließlich
    Atemübungen machen. Die Muskulatur in Ihrem Kehlkopf wird sich hierdurch
    entspannen. So kann sich die Schleimhaut in Ihrem Kehlkopf regenerieren. Es
    wird sich gut anfühlen. Kostenfreie Terminabsage bis 24 Stunden vor Beginn
    des Termins möglich. Auch ich halte mich an Terminabsprachen und sage ggf.
    24 Stunden vorher ab. Warum ich weiß, was ich tue ich bin Diplom Logopädin,
    integrative Stimmtrainerin, Train the Trainerin, Systemischer Coach,
    Kommunikationstrainerin und ausgebildete Sprecherin. Ich stand 4 Jahre als
    Schauspielerin auf der Bühne, habe eine Gesangsausbildung, sowie eine
    Ausbildung zur Ostheopatin für Stimmbehandlungen. Ich stehe selbst auch auf
    der Bühne und vor dem Mikrophon. Seit über 20 Jahren coache ich Menschen in
    Ihrer persönlichen Wirkung, Ihrer Präsenz, ihrem Auftreten sowie Ihrer
    lebendigen Stimmkraft. Allem, was mit Präsenz, Auftritt, Wirkung, lebendiger
    Stimme und Kommunikation in Verbindung steht, gilt meine Leidenschaft.
    Kontaktieren Sie mich für ein kostenfreies Erstgespräch via Telefon! Ich
    freue mich auf Sie! Link - Calendly PW: Robercik108! Link: ihre-stimme
    https://calendly.com/ihre-stimme/30min
  </p>
</div>
