<div class="wrapper">
  <div class="box">
    <div class="title">
      <h1>{{ 'trainings.short.title' | translate }}</h1>
    </div>
    <div class="content">
      <p>
        <b>{{ 'trainings.women.title' | translate }}</b>
        {{ 'trainings.women.short' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.speaker.title' | translate }}</b>
        {{ 'trainings.speaker.short' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.manager.title' | translate }}</b>
        {{ 'trainings.manager.short' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.singer.title' | translate }}</b>
        {{ 'trainings.singer.short' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.podcast.title' | translate }}</b>
        {{ 'trainings.podcast.short' | translate }}
      </p>
      <p>
        <b>{{ 'trainings.trainer.title' | translate }}</b>
        {{ 'trainings.trainer.short' | translate }}
      </p>

      <span
        ><a routerLink="trainings">
          {{ 'trainings.short.link' | translate }}
          <img
            src="../../../assets/img/thin-long-arrow-right-icon-long.svg"
            alt="arrow"
          /> </a
      ></span>
    </div>
  </div>
</div>
