.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat Regular', sans-serif;
  margin: 8rem auto;
  font-family: 'Montserrat', sans-serif;
}

.box {
  display: flex;
  flex-direction: row;
  width: min(90vw, 1100px);
  gap: 3rem;
}

.title,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding-left: 3rem;
}

h1 {
  font-family: 'Montserrat Thin', sans-serif;
  font-size: 5.6rem;
  color: var(--color-light);
  writing-mode: vertical-lr;
  margin: 1rem auto 2rem 3rem;
  transform: rotate(180deg);
}

b {
  font-size: var(--size--1);
  font-weight: 600;
  padding: 0 1rem 1rem 0;
}

p {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: var(--size--2);
  padding-bottom: 1rem;
}

span {
  margin: 1rem 0;

  a {
    color: var(--color-light);
    font-size: var(--size--1);
    font-weight: 300;
    text-decoration: none;

    img {
      width: 3rem;
      margin-top: 2rem;
      padding-bottom: 0;
    }
  }
}

///
///
/// MEDIA QUERIES
@media (max-width: 1200px) {
  .wrapper {
    margin: 4rem auto;
  }

  .content {
    padding: 0;
  }

  .box {
    width: 80vw;
    flex-direction: column;
    gap: 0;
  }

  h1 {
    font-size: clamp(2.2rem, 4vw, 4rem);
    transform: rotate(270deg);
    margin: auto;
  }
}
