.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat Regular', sans-serif;
  margin: 8rem auto;
  font-family: 'Montserrat', sans-serif;
}

.box {
  display: flex;
  flex-direction: row;
  width: min(90vw, 1100px);
  // padding: 1rem;
  gap: 3rem;
}

.title,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  padding-left: 3rem;
}

h1 {
  font-family: 'Montserrat Thin', sans-serif;
  font-size: 5.8rem;
  color: var(--color-light);
  writing-mode: vertical-lr;
  margin: 1rem auto 2rem 3rem;
  transform: rotate(180deg);
}

b {
  font-weight: 600;
  padding: 0 1rem 1rem 0;
}

// h6 {
//   font-family: 'Montserrat Regular', sans-serif;
//   font-size: var(--size--1);
//   padding-bottom: 1rem;
//   line-height: 1.3;
// }

p {
  font-family: 'Montserrat Regular', sans-serif;
  font-size: var(--size--2);
  padding-bottom: 1rem;
}

span {
  margin: 1rem 0;

  a {
    color: var(--color-light);
    font-size: var(--size--1);
    font-weight: 300;
    text-decoration: none;

    img {
      width: 3rem;
      margin-top: 2rem;
      padding-bottom: 0;
    }
  }
}

///
///
/// MEDIA QUERIES
// @media (max-width: 1200px) {
//   .text .title h1 {
//     font-size: clamp(2.2rem, 4vw, 4rem);
//     transform: rotate(0) translate(0, 0);
//     margin: auto;
//   }
//   .frame {
//     margin-left: 0;
//     padding: 1rem;
//   }
// }
