<div class="wrapper">
  <div class="title">
    <h1>{{ 'testimonials.title' | translate }}</h1>
  </div>

  <div class="boxes">
    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_8' | translate }}
        </p>
        <h1>{{ 'testimonials.author_8' | translate }}</h1>
        <a href="https://kaiser-hv.com/" target="_blank">{{
          'testimonials.pagename_8' | translate
        }}</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_2_3' | translate }}
        </p>
        <h1>{{ 'testimonials.author_2' | translate }}</h1>
        <a href="https://jadeflower.academy/" target="_blank">{{
          'testimonials.pagename_2' | translate
        }}</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_3_1' | translate }}
        </p>
        <h1>{{ 'testimonials.author_3' | translate }}</h1>
        <a href="https://abrilliantmind.blog" target="_blank">{{
          'testimonials.pagename_3' | translate
        }}</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_5' | translate }}
        </p>
        <h1>{{ 'testimonials.author_5' | translate }}</h1>
        <a href="https://pieceofcake.coach/" target="_blank">{{
          'testimonials.pagename_5' | translate
        }}</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_7' | translate }}
        </p>
        <h1>{{ 'testimonials.author_7' | translate }}</h1>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <p>
          {{ 'testimonials.text_0' | translate }}
        </p>
        <h1>{{ 'testimonials.author_0' | translate }}</h1>
        <a href="https://elisabethkoch.eu/contact/" target="_blank">{{
          'testimonials.pagename_0' | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
