.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('../../../assets/img/feedback_bg.png');
  background-size: cover;
  background-position: center;
}

.title {
  margin-top: 6rem;

  h1 {
    font-family: 'Funky-signature';
    font-size: 6rem;
    // color: var(--color-light);
    color: var(--color-white);
    text-align: center;
    // text-shadow: 4px 10px 6px var(--color-dark), 6px 12px 4px black,
    //   8px 14px 2px black;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 3rem auto 6rem;
  padding: 1rem;
}

.box {
  flex: 0 1 19vw;
  height: auto;
  border: 3px solid #ffffff7a;
  border-radius: 3px;
  margin: 1rem;
  padding: 3rem;
  backdrop-filter: blur(1rem);
  background-color: #052a3380;

  .content {
    color: #fff;

    h1 {
      font-family: 'Montserrat Bold', sans-serif;
      font-size: var(--size--2);
      margin-bottom: 1rem;
      line-height: 1.3;
    }

    p {
      font-family: 'Montserrat Light', sans-serif;
      font-size: var(--size--1);
      margin-bottom: 1rem;
      line-height: 1.3;
    }

    a {
      text-decoration: none;
      color: var(--color-light);
      font-family: 'Montserrat Light', sans-serif;
      font-size: var(--size--1);

      &:hover {
        color: #eee;
      }
    }
  }
}

// //
// // MEDIA QUERIES
// //
@media only screen and (max-width: 1024px) {
  .title {
    h1 {
      font-size: clamp(3rem, 8vw, 8rem);
    }
  }

  .box {
    flex: 0 1 70vw;
  }
}
