<div class="wrapper">
  <h1>Trainings</h1>
  <div class="slider-container">
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_1" />
        <h3>{{ 'trainings.title_1' | translate }}</h3>
        <p>
          {{ 'trainings.text_1' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_2" />
        <h3>{{ 'trainings.title_2' | translate }}</h3>
        <p>
          {{ 'trainings.text_2' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_3" />
        <h3>{{ 'trainings.title_3' | translate }}</h3>
        <p>
          {{ 'trainings.text_3' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_4" />
        <h3>{{ 'trainings.title_4' | translate }}</h3>
        <p>
          {{ 'trainings.text_4' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_5" />
        <h3>{{ 'trainings.title_5' | translate }}</h3>
        <p>
          {{ 'trainings.text_5' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
    <div class="slide">
      <span>
        <input type="radio" name="accordion" id="slide_6" />
        <h3>{{ 'trainings.title_6' | translate }}</h3>
        <p>
          {{ 'trainings.text_6' | translate }}
        </p>
      </span>
      <a href="/women">{{ 'trainings.link' | translate }}</a>
    </div>
  </div>
</div>
