<div class="wrapper">
  <h1>Trainings</h1>
  <div class="slider-container">
    <div class="slide">
      <span>
        <h3>Women</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Debitis, nulla! Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Debitis, nulla!
        </p>
      </span>
      <a href="/women">More »</a>
    </div>
    <div class="slide">
      <span>
        <h3>Men</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Debitis, nulla! Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Debitis, nulla!
        </p>
      </span>
      <a href="/women">More »</a>
    </div>
    <div class="slide">
      <span>
        <h3>Companies</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Debitis, nulla! Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Debitis, nulla!
        </p>
      </span>
      <a href="/women">More »</a>
    </div>
    <div class="slide">
      <span>
        <h3>CEO</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Debitis, nulla! Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Debitis, nulla!
        </p>
      </span>
      <a href="/women">More »</a>
    </div>
    <div class="slide">
      <span>
        <h3>Singer, Artists</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          nulla! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Debitis, nulla! Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Debitis, nulla!
        </p>
      </span>
      <a href="/women">More »</a>
    </div>
  </div>
</div>
