.wrapper {
  position: relative;
  margin: 6rem auto;
  max-width: 980px;
  box-sizing: border-box;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1;
    color: #134478;
  }
}

.slider-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2rem;

  margin: 0 auto;
  transition: grid-template-columns 0.5s ease-out;
}

.slider-container:has(.slide:nth-child(2):hover) {
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
}
.slider-container:has(.slide:nth-child(3):hover) {
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
}
.slider-container:has(.slide:nth-child(4):hover) {
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr;
}
.slider-container:has(.slide:nth-child(5):hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr 1fr;
}
.slider-container:has(.slide:nth-child(6):hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
}

input[type='radio'] {
  display: none;
}
.slide {
  position: relative;
  display: grid;
  background: linear-gradient(135deg, #367cc8, #77afeb);
  border-radius: 2rem;
  margin: 0 0.25rem;
  max-height: 380px;
  cursor: pointer;
  box-shadow: 5px 3px 12px #00000040;
  overflow: hidden;

  h3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform: translate(-2rem, 8rem) rotate(270deg);
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
  }

  p {
    align-self: start;
    align-content: start;
    padding: 0 2rem 5rem;
    padding-top: 0;
    font-size: 1.1rem;
    font-weight: 100;
    color: #fff;
  }

  a {
    position: absolute;
    display: flex;
    grid-area: 1/1;
    transform-origin: bottom left;
    place-self: end;
    align-self: end;
    align-items: center;
    gap: 1.3rem;

    background-color: #d2edfd;
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #134478;
    font-size: 0.8rem;
    font-weight: 300;
  }

  a,
  p {
    transform: scale(0);
    opacity: 0;
    transition: 300ms ease-in-out;
    transition-property: transform, opacity;
  }

  &:hover h3 {
    transform: scale(1);
    opacity: 1;
  }

  &:hover a,
  &:hover p {
    transform: scale(1);
    opacity: 1;
    transition-delay: 300ms;
  }
}

.slide:nth-child(1):not(:has(~ .slide:hover)) {
  h3,
  a,
  p {
    transform: scale(1);
    opacity: 1;
    transition-delay: 300ms;
  }
}

//
//
//
// media query
@media (max-width: 975px) {
  .slide h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slide {
    margin: 0.5rem;
    height: 5rem;

    h3 {
      padding-top: 1.5rem;
      font-size: 1.4rem;
      transform: scale(1);
      opacity: 1;
    }

    a,
    p {
      transform: scale(0);
      opacity: 0;
      transition: transform opacity 100ms;
    }
  }

  .slide:hover {
    height: auto;
    transition: height 300ms;
    padding-bottom: 5rem;
  }

  .slide:nth-child(1):not(:has(~ .slide:hover)) {
    p {
      transform: scale(1);
      opacity: 1;
      transition-delay: 300ms;
      transition-property: transform, opacity;
    }
  }
}

@media (max-width: 512px) {
  .slide h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .slide h3 {
    font-size: 1rem;
  }
}
