<div class="wrapper">
  <div class="boxes">
    <div class="box">
      <h1>
        {{ 'trainings.women.title_1' | translate }}
      </h1>

      <h2>
        <span>
          {{ 'courses.offer.place_1' | translate }}
        </span>
      </h2>
      <p><b>Wo:</b> Behaimstrasse 27, 13086 Berlin</p>
      <p>
        <b> Termine: </b>
        17./18. Januar, 14./15. Februar, 7./8. März 2025
      </p>
      <p>
        <b> 2 Tage für Deine Stimme: </b>
        Freitag: 14- 18:00Uhr Samstag 9 - 15:00Uhr ( 12-13Uhr Mittagspause)
      </p>
      <p>
        <b> Teilnahmegebühr pro Person: </b>
        480€ zuzügl. MwSt.
      </p>

      <div class="offer">
        <a href="#/contact">{{ 'courses.offer.button' | translate }}</a>
      </div>
    </div>

    <div class="box">
      <h1>
        {{ 'trainings.women.title_1' | translate }}
      </h1>

      <h2>
        <span>
          {{ 'courses.offer.place_2' | translate }}
        </span>
      </h2>
      <p><b>Wo:</b> online über Zoom</p>
      <p>
        <b>Termine:</b>
        24./25. Januar, 21./22. Februar, 21./22. März 2025
      </p>
      <p>
        <b>2 Tage für Deine Stimme:</b>
        Freitag: 14- 17:00Uhr Samstag 10 - 12:30Uhr
      </p>
      <p>
        <b>Teilnahmegebühr pro Person:</b>
        305€ zuzügl. MwSt.
      </p>

      <div class="offer">
        <a href="#/contact">{{ 'courses.offer.button' | translate }}</a>
      </div>
    </div>

    <div class="footer">
      <div>
        <p>
          {{ 'courses.offer.footer' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
