<div class="wrapper">
  <div class="boxes">
    <div class="box">
      <h1>
        {{ 'trainings.women.title_1' | translate }}
      </h1>

      <h2>
        <span>
          {{ 'courses.offer.place_1' | translate }}
        </span>
      </h2>
      <p>
        {{ 'footer.adress_11' | translate }}
      </p>
      <p>
        {{ 'footer.adress_12' | translate }}
      </p>
      <p>
        {{ 'footer.adress_21' | translate }}
      </p>
      <p>
        {{ 'footer.adress_22' | translate }}
      </p>

      <div class="offer">
        <a routerLink="contact">{{ 'courses.offer.button' | translate }}</a>
      </div>
    </div>

    <div class="box">
      <h1>
        {{ 'trainings.women.title_1' | translate }}
      </h1>

      <h2>
        <span>
          {{ 'courses.offer.place_2' | translate }}
        </span>
      </h2>
      <p>
        {{ 'footer.adress_11' | translate }}
      </p>
      <p>
        {{ 'footer.adress_12' | translate }}
      </p>
      <p>
        {{ 'footer.adress_21' | translate }}
      </p>
      <p>
        {{ 'footer.adress_22' | translate }}
      </p>

      <div class="offer">
        <a routerLink="contact">{{ 'courses.offer.button' | translate }}</a>
      </div>
    </div>

    <div class="footer">
      <div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
          impedit ratione accusamus odio, facere porro, voluptas commodi laborum
          ex amet esse dolores. Quibusdam distinctio nisi obcaecati
        </p>
      </div>
    </div>
  </div>
</div>
