<div class="wrapper">
  <div class="box">
    <div class="content">
      <p>
        {{ 'courses.text' | translate }}
      </p>
      <p>
        {{ 'trainings.women.title' | translate }}
        {{ 'trainings.women.short' | translate }}
      </p>

      <span
        ><a routerLink="profile">
          {{ 'courses.link' | translate }}
          <img
            src="../../../assets/img/thin-long-arrow-right-icon-long.svg"
            alt="arrow"
          /> </a
      ></span>
    </div>

    <div class="title">
      <h1>{{ 'menu.courses' | translate }}</h1>
    </div>
  </div>
</div>
