<div class="contain" id="facts">
  <div class="text">
    <h1>{{ "facts.title" | translate }}</h1>
    <div class="frame">
      <h3>{{ "facts.title_1" | translate }}</h3>
      <p>{{ "facts.text_1" | translate }}</p>
      <h3>{{ "facts.title_2" | translate }}</h3>
      <ul>
        <li *ngFor="let text of text_2">
          {{ text | translate }}
        </li>
      </ul>
      <h3>{{ "facts.title_3" | translate }}</h3>
      <ul>
        <li *ngFor="let text of text_3">
          {{ text | translate }}
        </li>
      </ul>
      <h3>{{ "facts.title_4" | translate }}</h3>
      <ul>
        <li *ngFor="let text of text_4">
          {{ text | translate }}
        </li>
      </ul>
    </div>
  </div>
</div>
