// @use '@angular/material' as mat;
// // @use '@angular/material/core/theming' as mat-core;

// // Define color palettes
// $primary: mat.m2-define-palette(mat.$indigo-palette); // ✅Now it should work
// $accent: mat.m2-define-palette(mat.$pink-palette, A200, A100, A400);

// // Define a light theme
// $theme: mat.m2-define-light-theme(
//   (
//     color: (
//       primary: $primary,
//       accent: $accent,
//     ),
//   )
// );

// // Apply the theme
// @include mat.all-component-themes($theme);

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
