<app-slideshow></app-slideshow>

<div class="boxes flex-row">
  <div class="box">
    <h1>{{ "home.box_1" | translate }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
  <div class="box">
    <h1>{{ "home.box_2" | translate }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
  <div class="box">
    <h1>{{ "home.box_3" | translate }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae
      veniam suscipit illum officiis ex illo repellendus inventore ad omnis?
    </p>
  </div>
</div>

<app-termine></app-termine>
