.tidycal {
  max-width: 1200px;
  margin-top: 4rem;
  margin-inline: auto;
  transform: translateY(-170px);
  background-color: #fff;
  border-radius: 6px;
}

.space {
  padding-top: 6rem;
}

iframe {
  border: medium;
  border-radius: 6px;
  width: 1px;
  min-width: 100%;
  height: 900px;
  overflow: hidden;
  min-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

h3 {
  text-align: center;
  padding: 4rem auto 2rem;
  color: var(--color-dark);
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  iframe {
    height: 1800px;
  }
}
