<app-hero-contact
  titleMedium="contact.aquaintment.text_1"
  titleBig="contact.aquaintment.title"
  text="contact.aquaintment.text_2"
  [showButton]="false"
/>
<app-tidycal-30 />
<!-- <div class="tidycal">
  <iframe
    src="https://tidycal.com/1y42ro1/30-minute-meeting"
    id="tidycal-embed"
    title="TidyCal"
    scrolling="no"
  ></iframe>
  <div>
    <script
      async=""
      consent-by="services"
      consent-id="2944"
      type="application/javascript"
      src="https://asset-tidycal.b-cdn.net/js/embed.js"
      consent-transaction-complete="1"
    ></script>
  </div>
</div> -->
