<div class="wrapper">
  <div class="header">
    <h1>{{ text_1 | translate }}</h1>
  </div>

  <div class="boxes">
    <h3 class="handwrite">
      {{ text_2 | translate }}
    </h3>

    <div class="box">
      <div class="frame">
        <p>
          {{ 'contact.short.box' | translate }}
        </p>

        <div class="adress">
          <div>
            <p>
              <span>
                {{ 'footer.name' | translate }}
              </span>
            </p>
            <p>
              {{ 'footer.adress_11' | translate }}
            </p>
            <p>
              {{ 'footer.adress_12' | translate }}
            </p>
          </div>
          <div>
            <p>
              {{ 'footer.adress_21' | translate }}
            </p>
            <p>
              {{ 'footer.adress_22' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="offer">
        <a href="#/contact/aquaintment">{{
          'contact.short.button' | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
